﻿@{
	ViewBag.Title = "Reset Password"; ;
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<h2>@ViewBag.Title</h2>
@Html.ValidationSummary("<h3>Please check the following errors:</h3>", new Dictionary<string, object>()
	{
		{"email", new Dictionary<ValidationErrorType, string>(){
			{ValidationErrorType.NullOrEmpty, "Email must not be blank."}
			,{ValidationErrorType.Format, "Email format is not valid."}
			,{ValidationErrorType.CompareNotMatch, "There is no account associated with the provided email address."}}}
	}, null)
@using (Html.BeginForm())
{
	<fieldset>
	<legend>Provide your email. A link will be sent to your email so that you can reset your password.</legend>
		<div class="formItem floatContainer">
			<label for="email">
				Email</label>
			@Html.TextBox("email", null, new { @class = "text" })
			@Html.ValidationMessage("email")
		</div>
		<div class="formItem buttons">
			<input type="submit" class="button" value="Submit" />
		</div>
	</fieldset>
}
