﻿@model Ideaware.Hps.Entities.Setup.Color
@{
    ViewBag.Title = "Delete";
}
<h2>
    Delete</h2>
<h3>
    Are you sure you want to delete this?</h3>
<table>
    <tr>
        <td class="header">
            Color Info
        </td>
        <td class="content">
            ID : @Html.DisplayFor(model => model.Key)
        </td>
    </tr>
    <tr>
        <td class="header">
            Color Name
        </td>
        <td class="content">@Html.DisplayFor(model => model.ColorName)
        </td>
    </tr>
    <tr>
        <td class="header">
            Date Created
        </td>
        <td class="content">@Html.DisplayFor(model => model.DateCreated)
        </td>
    </tr>
    <tr>
        <td class="header">
            Date Modified
        </td>
        <td class="content">@Html.DisplayFor(model => model.DateModified)
        </td>
    </tr>
    <tr>
        <td class="header">
            Is Active
        </td>
        <td class="content">@Html.DisplayFor(model => model.IsActive)
        </td>
    </tr>
    <tr>
        <td class="header">
            Access User Id
        </td>
        <td class="content">@Html.DisplayFor(model => model.AccessUserId)
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td class="content">
            @using (Html.BeginForm())
            {
                <input type="submit" value="Delete" />
            }
        </td>
    </tr>
</table>
<p>
    |
    @Html.ActionLink("Back to List", "Index")
</p>
