﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - HPS</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    @Styles.Render("~/content/css")    
    <link href="@Url.Content("~/public/bootstrap/css/bootstrap.css")" rel="stylesheet">
    <style>
        body
        {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            padding-bottom: 40px;
        }
    </style>
    <link href="@Url.Content("~/public/bootstrap/css/bootstrap-responsive.css")" rel="stylesheet">
    @RenderSection("styles", required: false)
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    @Scripts.Render("~/bundles/modernizr")
    @Html.Partial("_googleAnalytics")
</head>
<body>
    <header>
        <div id="flash" style="display: none;">
        </div>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </a><a class="brand" href="#">Project name</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li>@Html.Partial("_LogOnPartial")</li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </header>
    
    <div class="container">
        <!-- Main hero unit for a primary marketing message or call to action -->
         @RenderBody()

       
        <hr>
        <footer>
        <p>&copy; Company 2012</p>
      </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")     
    @RenderSection("scripts", required: false)
</body>
</html>
