﻿<section class="carousel">
    <ul>
        <li>
            <img src="@Url.Content("~/public/images/carousel/1.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/public/images/carousel/2.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/public/images/carousel/3.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/public/images/carousel/4.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/public/images/carousel/5.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/public/images/carousel/6.jpg")" width="945" height="394" alt="" /></li>
    </ul>
</section>
@section scripts
{
    <script src="@Url.Content("~/public/jquery.plugins/jquery.jcarousel.lite.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/public/jquery.plugins/jquery.easing.1.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/public/jquery.plugins/jquery.mousewheel.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".carousel").jCarouselLite({
                circular: true,
                mouseWheel: true,
                scroll: 1,
                visible: 1,
                speed: 1000,
                start: 0,
                auto: 2000,
                easing: "jswing"
            });
        });
    </script>
}