﻿@if(Request.IsAuthenticated) {
    <text>Welcome <strong>@HttpContext.Current.User.Identity.Name</strong>!
    @Html.ActionLink("Logout", "Logout", "Authentication")</text>
}
else {
    @Html.ActionLink("Login", "Login", "Authentication")
}
