﻿<div id="footer">
        <div class="footer-content">
			<div class="footer-1">	
				<div class="footer-col">
					<h4>StealthGenie</h4>
					<ul>
						<li><a href="#">About StealthGenie</a></li>
						<li><a href="#">Client Testimonials</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Blog</a></li>
                        <li><a href="#">Sitemap</a></li>						
					</ul>
				</div><!--end of footer-1-col1-->
				<div class="footer-col">
					<h4>Why Use StealthGenie</h4>
					<ul>
						<li><a href="#">Catch Cheating Spouse</a></li>
						<li><a href="#">Parental Control</a></li>
						<li><a href="#">Employee Monitoring</a></li>
						<li><a href="#">Location Tracking</a></li>
						<li><a href="#">Backup and Security</a></li>
					</ul>
				</div><!--end of footer-col-->
				<div class="footer-col">
					<h4>Features</h4>
					<ul>
						<li><a href="#">Calls</a></li>
						<li><a href="#">SMS</a></li>
						<li><a href="#">Record Surroundings</a></li>
						<li><a href="#">Real time Geo-Tracking</a></li>
						<li><a href="#">Online Interface</a></li>
					</ul>
				</div><!--end of footer-1-col2-->
				<div class="footer-col">
					<h4>Help</h4>
					<ul>
						<li><a href="#">Support Center</a></li>
                        <li><a href="#">FAQs</a></li>
						<li><a href="#">How To Buy StealthGenie</a></li>
						<li><a href="#">How to Install</a></li>
						<li><a href="#">How StealthGenie Works</a></li>
					</ul>
				</div><!--end of footer-1-col4-->
				<div class="footer-col">
					<h4>Legal</h4>
					<ul>
						<li><a href="#" rel="nofollow">Disclaimer</a></li>
						<li><a href="#" rel="nofollow">Terms of Use</a></li>
						<li><a href="#" rel="nofollow">Legal Policies</a></li>
						<li><a href="#" rel="nofollow">User Legal Agreement</a></li>
					</ul>
				</div><!--end of footer-1-col5-->
			</div><!--end of footer-1-->
			<div class="footer-2">
				<div class="footer-2-col1"> 
                    <img src="#" width="335" alt="logos" />
				</div><!--end of footer-2-col1-->
				<div class="footer-2-col3">
					<p>copyright &copy; StealthGenie 2011</p>
				</div><!--end of footer-2-col3-->
			</div><!--end of footer-2-->
				<div style="clear:both;"></div>
        </div><!--end of footer-content-->
        </div><!--end of footer-->