﻿@using Ideaware.Hps.Web.UI
@using MvcContrib.UI.Grid;
@model Ideaware.Hps.Web.ViewModels.PagedViewModel<Ideaware.Hps.Entities.Security.User>
<div id="mvccontribGridWrapper">
    <div class="mc-grid ui-widget ui-widget-content ui-corner-all">
        @Html.MvcContrib().Grid(Model.PagedList).Sort(
                     Model.GridSortOptions).Attributes(id => "grid", style => "width: 100%;").Columns(
                column => column.For(cust => cust.UserName)).Columns(
                column => column.For(cust => cust.Cnic)).Columns(
                column => column.For(cust => cust.OfficeAddress)).Columns(
                column => column.For(cust => cust.ResidentialAddress)).Columns(
                column => column.For(cust => cust.MultiGuarantee)).Columns(
                         column => column.For(x => Html.ActionLinkUi(string.Empty, "add", "ui-icon-plus", new { id = x.Key })))
        @Html.MvcContrib().PagerThemed(Model.PagedList)
    </div>
</div>