@model Ideaware.Hps.Web.ViewModels.Administration.IndexViewModel
@{
	ViewBag.Title = "User Administration";	
}

@if(!Model.IsRolesEnabled){	
    <p>WARNING: Your Role Provider is currently disabled - any user may currently visit this page.<br />Change &lt;roleManager enabled="false"&gt; to &lt;roleManager enabled="true"&gt; in your web.config file.</p>
}

<h2>User Administration</h2>

<h3>Find a User
	@if (!string.IsNullOrWhiteSpace(Model.Search)) { 
		<span>(@Html.ActionLink("Clear Search", "Index"))</span>
	}
</h3>
<form method="get">
	<fieldset>
		<label>
			User Name or Email Address:
			<input type="text" name="search" value="@Model.Search" />
			<input type="submit" value="Search" />
		</label>
	</fieldset>
</form>
	
<h3>Users (@Html.ActionLink("New User", "CreateUser", "UserAdministration"))</h3>
<div>
@if(Model.Users.Count > 0){
	<ul>
		@foreach(var user in Model.Users){
		<li>
			<span >@Html.ActionLink(user.UserName, "Details", new{ id = user.Key})</span>
			<span ><a href="mailto:@user.Email">@user.Email</a></span>
			@if(user.IsOnline){
				<span>Online</span>
			}else{
				<span >Offline for
					@{
						var offlineSince = (DateTime.Now - user.LastActivityDate);
						if (offlineSince.TotalSeconds <= 60){
							<text>1 minute.</text>
						}else if(offlineSince.TotalMinutes < 60){
							<text>@Math.Floor(offlineSince.TotalMinutes) minutes.</text>
						}else if (offlineSince.TotalMinutes < 120){
							<text>1 hour</text>
						}else if (offlineSince.TotalHours < 24){
							<text>@Math.Floor(offlineSince.TotalHours) hours.</text>
						}else if (offlineSince.TotalHours < 48){
							<text>1 day.</text>
						}else{
							<text>@Math.Floor(offlineSince.TotalDays) days.</text>
						}
					}
				</span>
			}			
		</li>
		}
	</ul>	
}else{
	<p>No users have registered.</p>
}
</div>

@if(Model.IsRolesEnabled){
	<h3>Roles</h3>
	<div>
	@if(Model.Roles.Any() ){
		<ul>
			@foreach(var role in Model.Roles){
			<li>
				@Html.ActionLink(role.LoweredRoleName, "Role", new{id = role.Key })
				@using(Html.BeginForm("DeleteRole", "UserAdministration", new{id=role.Key})){
				<input type="submit" value="Delete" />
				}
			</li>
			}
		</ul>
	}else{
		<p>No roles have been created.</p>
	}

	@using(Html.BeginForm("CreateRole", "UserAdministration")){
		<fieldset>
			<label for="id">Role:</label>
			@Html.TextBox("id")
			<input type="submit" value="Create Role" />
		</fieldset>
	}
	</div>
}