﻿@model Ideaware.Hps.Entities.Setup.Manufacturer
@{
    ViewBag.Title = "Create";
}
<h2>
    Create</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.ManufacturerName)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.ManufacturerName)
                @Html.ValidationMessageFor(model => model.ManufacturerName)
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.ContactPerson)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.ContactPerson)
                @Html.ValidationMessageFor(model => model.ContactPerson)
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.OfficeAddress)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.OfficeAddress)
                @Html.ValidationMessageFor(model => model.OfficeAddress)
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.ContactNumber)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.ContactNumber)
                @Html.ValidationMessageFor(model => model.ContactNumber)
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.FaxNumber)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.FaxNumber)
                @Html.ValidationMessageFor(model => model.FaxNumber)
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.EmailAddress)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.IsBlock)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.IsBlock)
                @Html.ValidationMessageFor(model => model.IsBlock)
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.BlockDetail)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.BlockDetail)
                @Html.ValidationMessageFor(model => model.BlockDetail)
            </td>
        </tr>
       
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.IsActive)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </td>
        </tr>
        
        <tr>
            <td>
            </td>
            <td class="content">
                <input type="submit" value="Create" />
            </td>
        </tr>
    </table> 
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
