﻿@using (Html.BeginForm("Index", "Branch", FormMethod.Get, new { id = "branchSearch" }))
{
    <div id="rightnow">
        <h3 class="reallynow">
            <span>Search Branch</span> @Html.ActionLink("Create New", "Create", null, new { @class = "add" })
            <a href="#" class="app_add">Some Action</a>
            <br />
        </h3>
        <p class="youhave">
            <label>
                @Html.TextBox("searchWord")
                <input class="button" value="Search" type="submit" />
            </label>
        </p>
    </div>        
}