@model Ideaware.Hps.Web.ViewModels.Administration.DetailsViewModel
@{
	ViewBag.Title = "User Details: " + Model.DisplayName;	
}

<h2>User Details: @Model.DisplayName [@Model.Status]</h2>

<ul>
	<li>@Html.ActionLink("Details", "Details", "UserAdministration", new { id = Model.User.Key }, null)</li>
	<li>@Html.ActionLink("Password", "Password", "UserAdministration", new { id = Model.User.Key }, null)</li>
	<li>Roles</li>
</ul>

<h3>Roles</h3>
<div >
	<ul>
		@foreach(var role in Model.Roles){
		<li>
			@Html.ActionLink(role.Key.LoweredRoleName, "Role", new{id = role.Key.Key})
			@if(role.Value){
				using(Html.BeginForm("RemoveFromRole", "UserAdministration", new{id = Model.User.Key, role = role.Key.LoweredRoleName})){
				<input type="submit" value="Remove From" />
				}
			}else{
				using(Html.BeginForm("AddToRole", "UserAdministration", new{id = Model.User.Key, role = role.Key.LoweredRoleName})){
				<input type="submit" value="Add To" />
				}
			}
		</li>
		}
	</ul>
</div>