﻿@model Ideaware.Hps.Web.ViewModels.Setup.ModelViewModel
@{
    ViewBag.Title = "Create";
}
<h2>
    Create</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.CategoryId, "Select category")
            </td>
            <td class="content">
                @Html.DropDownListFor(model => model.CategoryId, Model.Categories)
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.ManufacturerId, "Select manufacturer")
            </td>
            <td class="content">
                @Html.DropDownListFor(model => model.ManufacturerId, Model.Manufacturers)
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.Model.ModelName)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.Model.ModelName)
                @Html.ValidationMessageFor(model => model.Model.ModelName)
            </td>
        </tr>
        <tr>
            <td class="header">@Html.LabelFor(model => model.Model.IsActive)
            </td>
            <td class="content">@Html.EditorFor(model => model.Model.IsActive)
                @Html.ValidationMessageFor(model => model.Model.IsActive)
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="content">
                <p>
                    <input type="submit" value="Create" />
                </p>
            </td>
        </tr>
    </table>                   
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
