﻿@model Ideaware.Hps.Entities.Setup.Model
@{
    ViewBag.Title = "Delete";
}
<h2>
    Delete Branch
</h2>
<h3>
    Are you sure you want to delete this?</h3>
<table>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.ModelName, "Model Name")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.ModelName)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.Category.CategoryName, "Category name")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.Manufacturer.ManufacturerName, "Manufacturer")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
        </td>
    </tr>
    
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.IsActive, "Is Active")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.IsActive)
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td class="content">
            @using (Html.BeginForm())
            {
                <input type="submit" value="Delete" />
            }
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
