﻿@model Ideaware.Hps.Entities.Setup.Model

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.ModelName, "Model Name")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.ModelName)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.Category.CategoryName, "Category name")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.Manufacturer.ManufacturerName, "Manufacturer")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
        </td>
    </tr>
    
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.IsActive, "Is Active")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.IsActive)
        </td>
    </tr>   
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
