﻿<div id="header">
    <h2>
        Hire Purchase Solution</h2>
    <div id="logindisplay">
        @Html.Partial("_LogOnPartial")
    </div>
    <div id="topmenu">
        <ul>
            <li class="current">@Html.ActionLink("Dashboard", "Index", "Home")</li>
            <li>@Html.ActionLink("Manage Users", "Index", "UserAdministration")</li>
            <li>@Html.ActionLink("Users", "Index2", "UserAdministration")</li>
            <li>@Html.ActionLink("GoodsReceived", "Index", "GoodsReceived")</li>
            <li>@Html.ActionLink("Booking", "Index", "Booking")</li>
            <li>@Html.ActionLink("Users", "About", "Home")</li>            
        </ul>
    </div>
</div>
<div id="top-panel">
    <div id="panel">
        <ul>
            <li>@Html.ActionLink("Branch", "Index", "Branch")</li>
            <li>@Html.ActionLink("Category", "Index", "Category")</li>
            <li>@Html.ActionLink("Color", "Index", "Color")</li>
            <li>@Html.ActionLink("DocumentType", "Index", "DocumentType")</li>
            <li>@Html.ActionLink("Manufacturer", "Index", "Manufacturer")</li>
            <li>@Html.ActionLink("Model", "Index", "Model")</li>
            <li>@Html.ActionLink("Vendor", "Index", "Vendor")</li>
        </ul>
    </div>
</div>
