﻿@model Ideaware.Hps.Web.ViewModels.Administration.CreateUserViewModel
@{
	ViewBag.Title = "Create New User";	
}
<h2>Create New User</h2>
<div>
	@using(Html.BeginForm("CreateUser", "UserAdministration")){ 
	
     	@Html.ValidationSummary(true)

        <table>
            <tr>
                <td class="header">
                    @Html.LabelFor(model => model.Username)
                </td>
                <td class="content">
                    @Html.EditorFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                </td>
            </tr>
            <tr>
                <td class="header">
                    @Html.LabelFor(model => model.Password)
                </td>
                <td class="content">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <td class="header">
                    @Html.LabelFor(model => model.ConfirmPassword)
                </td>
                <td class="content">
                    @Html.EditorFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </td>
            </tr>
            <tr>
                <td class="header">
                    @Html.LabelFor(model => model.Email)
                </td>
                <td class="content">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td class="header">
                    @Html.LabelFor(model => model.PasswordQuestion)
                </td>
                <td class="content">
                    @Html.EditorFor(model => model.PasswordQuestion)
                    @Html.ValidationMessageFor(model => model.PasswordQuestion)
                </td>
            </tr>
            <tr>
                <td class="header">
                    @Html.LabelFor(model => model.PasswordAnswer)
                </td>
                <td class="content">
                    @Html.EditorFor(model => model.PasswordAnswer)
                    @Html.ValidationMessageFor(model => model.PasswordAnswer)
                </td>
            </tr>
            <tr>
                <td class="header"></td>
                <td class="content">
                    
                              <h3>Initial Roles</h3>
                              @for(var i = 0; i < Model.InitialRoles.Count; i++){ 
                                  var role = Model.InitialRoles.ElementAt(i);
                                  <div>
                                      <input name="InitialRoles[@i].Key" type="hidden" value="@role.Key" />
                                      <label>@Html.CheckBox("InitialRoles[" + i + "].Value", role.Value) @role.Key</label>
                                  </div>
                              }                    
                </td>
            </tr>
            <tr>
                <td class="header"></td>
                <td class="content">
                    <input type="submit" value="Create" />
                </td>
            </tr>
        </table>			 		
	} 
</div>