﻿@{
    ViewBag.Title = "TabAjaxExample";
}
<h2>
    jQuery Ajax Tabs Example</h2>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1" onclick="getContentTab(1);">Text 1</a></li>
        <li><a href="#tabs-2" onclick="getContentTab(2);">Text 2</a></li>
        <li><a href="#tabs-3" onclick="getContentTab(3);">Text 3</a></li>
    </ul>
    <div id="tabs-1">
    </div>
    <div id="tabs-2">
    </div>
    <div id="tabs-3">
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function() {
            $("#tabs").tabs();
            getContentTab (1);
        });

        function getContentTab(index) {
            var url='@Url.Content("~/Ajax/GetAjaxTab")/' + index;
            var targetDiv = "#tabs-" + index;
            var ajaxLoading = "<img id='ajax-loader' src='@Url.Content("~/Content/images/ajax-loader.gif")' align='left' height='28' width='28'>";
                       
            $(targetDiv).html("<p>" + ajaxLoading + " Loading...</p>"); 
            
            $.get(url,null, function(result) {
                $(targetDiv).html(result);
            });
        }
        
</script>
