﻿@{
	ViewBag.Title = "Change Password";
}
@section Head{
    @Html.ScriptjQuery()
}
<ul class="path floatContainer">
    <li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<h1>@ViewBag.Title</h1>
@Html.ValidationSummary("<h3>Please check the following errors:</h3>", new Dictionary<string, object>()
{
	{"currentPassword", new Dictionary<ValidationErrorType, string>(){
		{ValidationErrorType.NullOrEmpty, "You must specify your current password."}
		,{ValidationErrorType.CompareNotMatch, "Your current password does not match."}}},
	{"newPassword", new Dictionary<ValidationErrorType, string>(){
		{ValidationErrorType.NullOrEmpty, String.Format("You must specify a new password of {0} or more characters.", ViewBag.PasswordLength)}
		,{ValidationErrorType.CompareNotMatch, "The new password and confirmation password do not match."}}}
}, null)
@using (Html.BeginForm())
{
    <fieldset>
		<legend>Use the form below to change your password</legend>
		@if(!Session.IsPasswordReset)
		{
			<div class="formItem floatContainer">
				<label for="currentPassword">Current password</label>
				@Html.Password("currentPassword")
			</div>
		}
		<div class="formItem floatContainer">
            <label for="newPassword">New password</label>
            @Html.Password("newPassword")
			<span class="note">New passwords are required to be a minimum of @ViewBag.PasswordLength characters in length.</span>        
        </div>
		<div class="formItem floatContainer">
            <label for="confirmPassword">Confirm new password</label>
            @Html.Password("confirmPassword")
        </div>
		<div class="formItem buttons">
            <input type="submit" class="button" value="Change Password" />
        </div>
	</fieldset>	
}