﻿@{
    ViewBag.Title = "Sign in";
}
<div id="content">
    <div id="box">
        <h3 id="addbranch">
            Sign in using your existing account</h3>
        @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "form" }))
        {               
                
            @Html.ValidationSummary(true) 
            <fieldset>
                <legend>Enter your username and password.
                    <br />
                </legend>
                <p>
                    Don't have an account? @Html.ActionLink("Create one", "Register", "Account").</p>
                <label for="username">
                    Username</label>
                @Html.TextBox("username")
                <br />
                <label for="password">
                    Password</label>
                @Html.Password("password")
                <br />
                @Html.CheckBox("rememberMe")
                <label for="rememberMe">
                    Remember me</label>
                <br />
                <p>
                    @Html.ActionLink("Forgot your password?", "ResetPassword", "Account")
                </p>
                <br />
            </fieldset>
            <div>
                <input id="button1" type="submit" value="Sign in" />
            </div>                                     
        }
    </div>
</div>
