﻿@model Ideaware.Hps.Web.ViewModels.PagedViewModel<Ideaware.Hps.Entities.Security.User>
@{
    ViewBag.Title = "Users";
}
<link href="@Url.Content("~/Content/mvccontrib.grid.css")" rel="stylesheet" type="text/css" />
<div id="content">
    @{Html.RenderPartial("_searchBox", Model.PagedList);}
    <div id="mvccontribGridWrapper">
        @Html.Partial("_grid", Model)
    </div>
</div>
@Html.Partial("_sidebar")
<script src="@Url.Content("~/Scripts/jquery.mvccontrib.grid.js")" type="text/javascript" ></script>
<script type="text/javascript">
    $(document).ready(function () {
        var options = {
            url: "@Url.Action("Index2")", 
            alignRight: true,
            addRowOverState: true,
            addSelectedState: true
        };
        $("#mvccontribGridWrapper").mvccontribGrid(options);
    });
</script>
