﻿@model Ideaware.Hps.Web.ViewModels.Administration.UserViewModel           
@{
    ViewBag.Title = "Create";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="content">
    <div id="box">
        <h3 id="addbranch">
            Add branch</h3>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
        {
            @Html.ValidationSummary(true)
            <fieldset id="personal">
                <legend>USER INFORMATION</legend>
                @Html.LabelFor(model => model.BranchId)
                @Html.DropDownListFor(model => model.BranchId, Model.Branches)
                <br />
                @Html.LabelFor(model => model.User.UserName)
                @Html.EditorFor(model => model.User.UserName)
                @Html.ValidationMessageFor(model => model.User.UserName)
                <br />
                @Html.LabelFor(model => model.User.FirstName)
                @Html.EditorFor(model => model.User.FirstName)
                @Html.ValidationMessageFor(model => model.User.FirstName)
                <br />
                @Html.LabelFor(model => model.User.LastName)
                @Html.EditorFor(model => model.User.LastName)
                @Html.ValidationMessageFor(model => model.User.LastName)
                <br />
                @Html.LabelFor(model => model.User.FatherName)
                @Html.EditorFor(model => model.User.FatherName)
                @Html.ValidationMessageFor(model => model.User.FatherName)
                <br />
                @Html.LabelFor(model => model.User.Cnic)
                @Html.EditorFor(model => model.User.Cnic)
                @Html.ValidationMessageFor(model => model.User.Cnic)
                <br />
                @Html.LabelFor(model => model.User.Occupation)
                @Html.EditorFor(model => model.User.Occupation)
                @Html.ValidationMessageFor(model => model.User.Occupation)
                <br />
                @Html.LabelFor(model => model.User.Designation)
                @Html.EditorFor(model => model.User.Designation)
                @Html.ValidationMessageFor(model => model.User.Designation)
                <br />
                @Html.LabelFor(model => model.User.ResidentialAddress)
                @Html.EditorFor(model => model.User.ResidentialAddress)
                @Html.ValidationMessageFor(model => model.User.ResidentialAddress)
                <br />
                @Html.LabelFor(model => model.User.City)
                @Html.EditorFor(model => model.User.City)
                @Html.ValidationMessageFor(model => model.User.City)
                <br />
                @Html.LabelFor(model => model.User.OfficeAddress)
                @Html.EditorFor(model => model.User.OfficeAddress)
                @Html.ValidationMessageFor(model => model.User.OfficeAddress)
                <br />
                @Html.LabelFor(model => model.User.MonthlyIncome)
                @Html.EditorFor(model => model.User.MonthlyIncome)
                @Html.ValidationMessageFor(model => model.User.MonthlyIncome)
                <br />
                @Html.LabelFor(model => model.User.OfficePhone)
                @Html.EditorFor(model => model.User.OfficePhone)
                @Html.ValidationMessageFor(model => model.User.OfficePhone)
                <br />
                @Html.LabelFor(model => model.User.ResidentialPhone)
                @Html.EditorFor(model => model.User.ResidentialPhone)
                @Html.ValidationMessageFor(model => model.User.ResidentialPhone)
                <br />
                @Html.LabelFor(model => model.User.CellNo)
                @Html.EditorFor(model => model.User.CellNo)
                @Html.ValidationMessageFor(model => model.User.CellNo)
                <br />
                @Html.LabelFor(model => model.User.FaxNo)
                @Html.EditorFor(model => model.User.FaxNo)
                @Html.ValidationMessageFor(model => model.User.FaxNo)
                <br />
                @Html.LabelFor(model => model.User.Email)
                @Html.EditorFor(model => model.User.Email)
                @Html.ValidationMessageFor(model => model.User.Email)
                <br />
                <h3>
                    Initial Roles</h3>
                @for (var i = 0; i < Model.InitialRoles.Count; i++)
                {
                    var role = Model.InitialRoles.ElementAt(i);
                    <div>
                        <input name="InitialRoles[@i].Key" type="hidden" value="@role.Key" />
                        <label>@Html.CheckBox("InitialRoles[" + i + "].Value", role.Value) @role.Key</label>
                    </div>
                }
                <br />
            </fieldset>
            <div align="center">
                <input id="button1" type="submit" value="Create" />
                <input id="button2" type="reset" />
            </div>                          
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
