@model Ideaware.Hps.Web.ViewModels.Administration.DetailsViewModel
@{
    ViewBag.Title = "User Details: " + Model.DisplayName;
}

<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />

<h2 class="mvcMembership">User Details: @Model.DisplayName [@Model.Status]</h2>

<ul class="mvcMembership-tabs">
	<li>Details</li>
	<li>@Html.ActionLink("Password", "Password", "UserAdministration", new { id = Model.User.Key }, null)</li>
	@if(Model.IsRolesEnabled){
	<li>@Html.ActionLink("Roles", "UsersRoles", "UserAdministration", new { id = Model.User.Key }, null)</li>
	}
</ul>

<h3 class="mvcMembership">Account</h3>
<div class="mvcMembership-account">
	<dl class="mvcMembership">
		<dt>User Name:</dt>
			<dd>@Model.User.UserName</dd>
		<dt>Email Address:</dt>
			<dd><a href="mailto:@Model.User.Email">@Model.User.Email</a></dd>
		@if(Model.User.LastActivityDate == Model.User.DateCreated){
		<dt>Last Active:</dt>
			<dd><em>Never</em></dd>
		<dt>Last Login:</dt>
			<dd><em>Never</em></dd>
		}else{
		<dt>Last Active:</dt>
			<dd>@Model.User.LastActivityDate.ToString("MMMM dd, yyyy h:mm:ss tt")</dd>
		<dt>Last Login:</dt>
			<dd>@Model.User.LastLoginDate.ToString("MMMM dd, yyyy h:mm:ss tt")</dd>
		}
		<dt>Created:</dt>
			<dd>@Model.User.DateCreated.ToString("MMMM dd, yyyy h:mm:ss tt")</dd>
	</dl>

	@using(Html.BeginForm("ChangeApproval", "UserAdministration", new{ id = Model.User.Key })){
		@Html.Hidden("isApproved", !Model.User.IsApproved)
		<input type="submit" value='@(Model.User.IsApproved ? "Unapprove" : "Approve") Account' />
	}
	@using(Html.BeginForm("DeleteUser", "UserAdministration", new{ id = Model.User.Key })){
		<input type="submit" value="Delete Account" />
	}
</div>

<h3 class="mvcMembership">Email Address & Comments</h3>
<div class="mvcMembership-emailAndComments">
	@using(Html.BeginForm("Details", "UserAdministration", new{ id = Model.User.Key })){
	<fieldset>
		<p>
			<label for="email">Email Address:</label>
			@Html.TextBox("email", Model.User.Email)
		</p>		
		<input type="submit" value="Save" />
	</fieldset>
	}
</div>