﻿/*********************
	HTML Elements
*********************/
*
{
    margin: 0;
    padding: 0;
}
/*img, div, a
{
    behavior: url(css/iepngfix.htc);
}*/
body
{
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana;
}
a, a:visited
{
    text-decoration: none;
}
img
{
    border: 0;
    margin: 1px;
}
p
{
    padding: 3px;
}
h2
{
}
input
{
    padding: 2px;
}
select
{
    padding: 2px;
}
/*********************
	Structure
*********************/
#container
{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#header
{
    width: 960px;
}
#header h2
{
    margin-top: 20px;
}
#content
{
    width: 740px;
    float: left;
    margin: 10px 0 10px 0;
    padding: 10px;
}
#sidebar
{
    background: #FFF;
    width: 170px;
    float: right;
    margin: 10px 0 10px 0;
    padding: 10px;
}
#footer
{
    clear: both;
    padding: 5px;
    margin-top: 10px;
}
#box h3
{
    padding: 5px;
    font-size: 14px;
}
/*********************
	Sidebar
*********************/
#sidebar ul
{
    list-style: none;
    line-height: 22px;
}
#sidebar ul li a, #sidebar ul li a:visited
{
    padding-left: 19px;
    text-decoration: none;
    margin: 0 3px;
    display: block;
}
#sidebar ul li a:hover
{
    text-decoration: underline;
}
#sidebar ul li ul
{
    margin-left: 10px;
}
#sidebar h3
{
    padding: 2px;
    font-size: 14px;
}
/*********************
  TopMenu, Top-Panel
*********************/
#topmenu
{
    margin-top: 33px;
    width: 700px;
    float: left;
    voice-family: inherit;
}
#topmenu ul
{
    list-style: none;
    line-height: 25px;
}
#topmenu li
{
    display: inline;
}
#topmenu a, #topmenu a:visited
{
    padding: 5px 12px 5px 12px;
    text-decoration: none;
}
#topmenu .current a, #topmenu .current a:hover, #topmenu .current a:visited
{
    padding: 5px 12px 5px 12px;
    font-weight: bold;
}
#top-panel
{
    background: #FFF;
    padding: 5px;
    height: 20px;
    float: left;
    width: 950px;
}
#top-panel ul
{
    list-style: none;
}
#top-panel ul li
{
    display: inline;
    line-height: 20px;
}
#top-panel ul li a
{
    padding-left: 19px;
    text-decoration: none;
    margin: 0 3px;
    display: inline-block;
}
#top-panel a:hover
{
    text-decoration: underline;
}
/*********************
		Other
*********************/
.a-right
{
    text-align: right;
}
.a-left
{
    text-align: left;
}
.a-center
{
    text-align: center;
}
#pager
{
    margin: 5px;
    height: 25px;
}
#styleswitcher
{
    float: right;
}
#styleswitcher ul
{
    list-style: none;
    line-height: 10px;
}
#styleswitcher li
{
    height: 12px;
    display: inline;
}
#footer ul
{
    list-style: none;
}
#footer li
{
    display: inline;
}
a#defswitch
{
    width: 15px;
    height: 10px;
    margin: 3px 0 3px 0;
    background-color: #bd3f09;
    font-size: 8px;
    color: #bd3f09;
    display: inline-block;
}
a#blueswitch
{
    width: 15px;
    height: 10px;
    margin: 3px 0 3px 0;
    background-color: #375b91;
    font-size: 8px;
    color: #375b91;
    display: inline-block;
}
a#greenswitch
{
    width: 15px;
    height: 10px;
    margin: 3px 0 3px 0;
    background-color: #d0e0b8;
    font-size: 8px;
    color: #d0e0b8;
    display: inline-block;
}
a#brownswitch
{
    width: 15px;
    height: 10px;
    margin: 3px 0 3px 0;
    background-color: #654322;
    font-size: 8px;
    color: #654322;
    display: inline-block;
}
a#mixswitch
{
    width: 15px;
    height: 10px;
    margin: 3px 0 3px 0;
    background-color: #294145;
    font-size: 8px;
    color: #294145;
    display: inline-block;
}
#credits
{
    clear: both;
    float: left;
}
/*********************
		Tables
*********************/
table
{
    margin: 5px;
    border-collapse: collapse;
    table-layout: auto;
    width: 98%;
}
td, th
{
    padding: 2px;
}
thead
{
}
/*********************
		Home
*********************/
#infowrap li
{
    display: inline;
}
#infobox
{
    width: 365px;
    float: left;
    margin-top: 10px;
}
#infobox h3
{
    padding: 5px;
    font-size: 14px;
}
.margin-left
{
    margin-left: 5px;
}
#rightnow .reallynow
{
    padding: 5px;
    font-size: 14px;
}
#rightnow h3
{
    padding: 2px;
    padding: 0 10px;
    font-size: 14px;
}
#rightnow .reallynow span
{
    display: block;
    text-align: left;
    float: left;
    padding: 0 2px;
    font-size: 14px;
}
#rightnow .reallynow a
{
    text-decoration: none;
    display: block;
    text-align: right;
    float: right;
    padding: 0 0 0 18px;
    margin-left: 4px;
    font-weight: normal;
    font-size: 12px;
}
#rightnow .reallynow a:hover
{
    text-decoration: underline;
}
#rightnow .youhave
{
    font-size: 12px;
    padding: 10px;
}
#rightnow a
{
    font-weight: bold;
}
/*********************
		Forms
*********************/
form
{
    padding: 10px;
    margin: 0 auto;
}
form#form fieldset
{
    display: block;
    padding: 5px 10px 5px 10px;
    line-height: 20px;
    margin-bottom: 10px;
}
form#form legend
{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 3px;
    width: 254px;
}
form#form label
{
    clear: left;
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px;
}
form#form input
{
    padding: 3px;
    margin-bottom: 5px;
}
form#form select
{
    width: 160px;
    padding: 0px;
}
form#form textarea
{
    width: 410px;
    height: 200px;
    padding: 5px;
    overflow: auto;
}
form#form option
{
    background: #FFF;
}
form#form optgroup option
{
}
form#form #button1, form#form #button2
{
    padding-right: 5px;
    cursor: pointer;
    width: 205px;
    margin-left: 8px;
    font-weight: bold;
}
form#form #button1:hover, form#form #button2:hover
{
    background-position: center left;
}

/*********************
	Icons
*********************/
.icon
{
    padding-left: 19px;
    text-decoration: none;
    height: 20px;
    font-size: 12px;
    margin: 0 3px;
    display: inline-block;
    line-height: 20px;
}
.user
{
    background: transparent url(images/icons/user.png) no-repeat left;
}
.useradd
{
    background: transparent url(images/icons/user_add.png) no-repeat left;
}
.group
{
    background: transparent url(images/icons/group.png) no-repeat left;
}
.search
{
    background: transparent url(images/icons/magnifier.png) no-repeat left;
}
.online
{
    background: transparent url(images/icons/world.png) no-repeat left;
}
.pagenew
{
    background: transparent url(images/icons/page_add.png) no-repeat left;
}
.rss
{
    background: transparent url(images/icons/rss.png) no-repeat left;
}
.feed
{
    background: transparent url(images/icons/feed.png) no-repeat left;
}
.report
{
    background: transparent url(images/icons/report.png) no-repeat left;
}
.house
{
    background: transparent url(images/icons/house.png) no-repeat left;
}
.manage
{
    background: transparent url(images/icons/cog.png) no-repeat left;
}
.manage_page
{
    background: transparent url(images/icons/page_gear.png) no-repeat left;
}
.folder
{
    background: transparent url(images/icons/folder.png) no-repeat left;
}
.promotions
{
    background: transparent url(images/icons/coins.png) no-repeat left;
}
.cart
{
    background: transparent url(images/icons/cart.png) no-repeat left;
}
.folder_table
{
    background: transparent url(images/icons/folder_page.png) no-repeat left;
}
.shipping
{
    background: transparent url(images/icons/car.png) no-repeat left;
}
.invoices
{
    background: transparent url(images/icons/page_white_text_width.png) no-repeat left;
}
.addorder
{
    background: transparent url(images/icons/folder_page_add.png) no-repeat left;
}
.add
{
    background: transparent url(images/icons/add.png) no-repeat left;
}
.app_add
{
    background: transparent url(images/icons/application_add.png) no-repeat left;
}
.report_seo
{
    background: transparent url(images/icons/report_link.png) no-repeat left;
}
.modules
{
    background: transparent url(images/icons/bricks.png) no-repeat left;
}
.modules_manage
{
    background: transparent url(images/icons/bricks_gear.png) no-repeat left;
}


/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------
body {
    background-color: #F2F2F2;
    font-size: .85em;
    font-family: "Trebuchet MS", Tahoma,Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #555; 
}

a,a:visited {
	text-decoration: none;
	color: #2180BC;

}
a:hover {
	color: #88ac0b;
	text-decoration: underline;
}

a:link {
    color: #2180BC;
    text-decoration: underline;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: normal;
	color: #006699;
}

h2 {    
    text-transform: uppercase;	
	margin-top: 10px;	
	color: #88ac0b; 
	padding: 5px 0 5px 25px; 	
	border-bottom: 1px solid #EFF0F1;
	background: #FFF url(images/square-green.png) no-repeat 3px 50%;	
}

h3 {
    font-size: 1.2em;
    color: #666666; 
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}


img {
	background: #FAFAFA;
   border: 1px solid #E5E5E5;
	padding: 5px;
}
img.float-right {
  margin: 5px 0px 10px 10px;  
}
img.float-left {
  margin: 5px 10px 10px 0px;
}

ul, ol {
	margin: 5px 20px;
	padding: 0 20px;
}

code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
 
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #777;
}
blockquote {
	margin: 10px;
 	padding: 0 0 0 28px;  
    border: 1px solid #f2f2f2; 
  	background: #FAFAFA url(images/quote.gif) no-repeat 5px 5px;    
}


table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}




form {
	margin:10px; padding: 0 5px;
	border: 1px solid #f2f2f2; 
	background-color: #FAFAFA; 	
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
input {
	padding:2px;
	border:1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
select 
{
    padding:2px;
	font: normal 1em Verdana, sans-serif;    
}
textarea {
	width:400px;
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}


.searchform {
	background-color: transparent;
	border: none;	
	margin: 0; padding: 5px 0 15px 0;	
	width: 190px;	
}
.searchform p { margin: 0; padding: 0; }
.searchform input.textbox { 
	width: 120px;
	color: #777; 
	height: 18px;
	padding: 2px;	
	border: 1px solid #E5E5E5;
	vertical-align: top;
}
.searchform input.button { 
	width: 60px;
	height: 24px;
	padding: 2px 5px;
	vertical-align: top;
}


.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #000;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}


ul#menu {
    border-bottom: 1px #8EB50C solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #5F8C0B;
    color: #EDFDCE;    
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #67b021;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

	
#sidebar {
	float: right;
	width: 26.5%;
	padding: 0; margin: 0;	
	color: #68774A;	
}	
#sidebar h3 {
	margin-top: 10px;
	padding: 5px 5px; 
	font: bold 1.4em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #728D26;	
}
#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 7px 4px 8px 0; padding: 0;
	text-decoration: none;		
	background: url(images/dots.jpg) repeat-x left top;
}
#sidebar ul.sidemenu li {
	list-style: none;
	background: url(images/dots.jpg) repeat-x left bottom;
	padding: 4px 0 4px 5px;
	margin: 0 2px;	
	color: #68774A;	
}
* html body #sidebar ul.sidemenu li {
	height: 1%;
}
#sidebar ul.sidemenu li a {
	text-decoration: none;	
	background-image: none;	
	color: #666666;			
}
#sidebar ul.sidemenu li a:hover {	
	color: #1773BC;	
}
#sidebar ul.sidemenu ul { margin: 0 0 0 5px; padding: 0; }
#sidebar ul.sidemenu ul li { background: none; }



.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: #68774A;
}

#logindisplay a:link {
    color: #68774A;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: #1773BC;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: #1773BC;
    text-decoration: none;
}


.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}


.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
   
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}







div.pager
{
	margin-top:20px;
	height: 30px;
	font-size: 11px;
}
div.pager a, div.pager span, div.pager a
{
	display: block;
	float: left;
	margin-right: 3px;
	padding: 3px 6px 3px 6px;
	border-bottom:3px solid #5A93D2;
	text-decoration:none;
}
div.pager span
{
	border-bottom:3px solid #EEEEEE;
	color: #666666;
}
div.pager a:hover
{
	background-color: #5A93D2;
	color: #FFFFFF;
}
div.tagCloud
{
	width: 500px;
}

#pagerClient
{
	background: #DCECF4 url(../images/temp/next-big.gif) no-repeat scroll 98% 50%;
	border-top: 1px solid #00418F;
}
#pagerClient img
{
	visibility: hidden;
	padding-right: 10px;
}
#pagerClient a
{
	font-size: 14px;
	line-height: 20px;
	padding: 15px 15px 15px 15px;
	display: block;
	text-align: center;
	text-decoration: none;
	background: transparent url(../images/temp/next-big.gif) no-repeat scroll 2% 50%;
}
#pagerClient.loading img
{
	visibility: visible;
}
div.pagerSummary
{
	font-size: 13px;
	font-style: italic;
	padding-top: 20px;
}



.actionLinkUI { float: left; margin-right: 2px; }

.grid-style th
{
    border-bottom: 5px solid #8EB50C;
    background-color: #EDFDCE;
    color: #2180BC;
}

.grid-style .sort_asc
{
    background-image: url('images/arrow_down.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

.grid-style .sort_desc
{
    background-image: url('images/arrow_up.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;   
}

.grid-style .gridrow_alternate
{
    background-color: #eee;
}

.pagination
{
    border: 1px solid #8EB50C;
    padding: 5px;
    background-color: #EDFDCE;
    margin: 10px;
}

*/

.flashinfo
{
    background-color: #CCFFCC;
    border-top: 1px solid #FFCC66;
    border-bottom: 4px solid #FFCC66;
    padding: 6px;
    font-family: helvetica;
    font-size: 1.1em;
    text-align: center;
    border-top-color: #006600;
    border-bottom-color: #006600;
    font-weight: bold;
    color: #339933;
}
.flashwarning
{
    background-color: #FFFF99;
    border-top: 1px solid #FFCC66;
    border-bottom: 4px solid #FFCC66;
    padding: 6px;
    font-family: helvetica;
    font-size: 0.9em;
    text-align: center;
    border-top-color: #CC9900;
    border-bottom-color: #CC9900;
    font-weight: bold;
    color: #663300;
}
.flasherror
{
    background-color: #FFCC99;
    border-top: 1px solid #FFCC66;
    border-bottom: 4px solid #FFCC66;
    padding: 6px;
    font-family: helvetica;
    font-size: 0.9em;
    text-align: center;
    border-top-color: #800000;
    border-bottom-color: #800000;
    font-weight: bold;
    color: #990000;
}

.actionLinkUI
{
    float: left;
    margin-right: 2px;
}


#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: #ffffff;
    float: right;
}

#logindisplay a:link
{
    color: #ffffff;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: #ffffff;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: #ffffff;
    text-decoration: none;
}
