﻿@{
    ViewBag.Title = "Home Page";
}
<section class="hero-unit">
    @Html.Partial("_jCarousel")
</section>
<!-- Example row of columns -->
<section class="row">
    <div class="span4">
        <h2>
            Heading</h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
            <a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>
            Heading</h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
            <a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>
            Heading</h2>
        <p>
            Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>
            <a class="btn" href="#">View details &raquo;</a></p>
    </div>
</section>
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.jcarousel.lite.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easing.1.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.mousewheel.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".carousel").jCarouselLite({
                circular: true,
                mouseWheel: true,
                scroll: 1,
                visible: 1,
                speed: 1000,
                start: 0,
                auto: 2000,
                easing: "jswing"
            });
        });
    </script>
}
