﻿@model Ideaware.Hps.Entities.Setup.DocumentType
@{
    ViewBag.Title = "Create";
}
<h2>
    Create</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.DocumentName)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.DocumentName)
                @Html.ValidationMessageFor(model => model.DocumentName)
            </td>
        </tr>                           
        <tr>
            <td>
            </td>
            <td class="content">
                <p>
                    <input type="submit" value="Create" />
                </p>
            </td>
        </tr>
    </table>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
