﻿@model Ideaware.Hps.Web.ViewModels.Account.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">&nbsp;</div>
        <div class="span4">
            <div class="page-header">
                <h3>Welcome to HPSCloud.com</h3>
            </div>
            <div class="box" style="margin-bottom: 500px;">
                <h4 class="box-header round-top">Please sign in</h4>
                <div class="box-container-toggle">
                    <div class="box-content">
                        @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "well form-search" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="control-group">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-user"></i></span>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "input-xlarge", placeholder = "username" })
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-lock"></i></span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "input-xlarge", placeholder = "password" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                            </div> 
                            <div class="control-group">
                                <button class="btn btn-primary" type="submit">Sign in</button>
                            </div>
                            <div class="control-group">
                                @Html.ActionLink("Register", "Register") if you don't have an account.
                            </div>                            
                        }
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="span4">&nbsp;</div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->  
</div>