﻿@using Ideaware.Hps.Web.Controllers.Helpers
@model Ideaware.Hps.Entities.Models.TabViewModel
<h3>Tab Text 1</h3>

<p>
    @Model.TabText1 %>
</p>

<p class ="ui-state-highlight">@JQueryUiHelper.InsertIcon("icon-lightbulb")Highlighted Text !</p>

