﻿@{
    ViewBag.Title = "Index";
    
}

<h2>@ViewData["Message"]</h2>

<p>
        To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
    </p>
    <p>
        <ul>Tabexamples : 
            <li>@Html.ActionLink("Tab Text Example", "TabExample")</li>
            <li>@Html.ActionLink("Ajax Tab Example", "TabAjaxExample")</li>
        </ul>               
    </p>
