﻿@using Ideaware.Hps.Web.UI
@using Ideaware.Hps.Web.ViewModels.Setup
@using MvcContrib.UI.Grid;
@model Ideaware.Hps.Web.ViewModels.PagedViewModel<Ideaware.Hps.Entities.Setup.Category>
<div id="mvccontribGridWrapper">
    <div class="mc-grid ui-widget ui-widget-content ui-corner-all">
        @Html.MvcContrib().Grid(Model.PagedList).WithModel(new CategoryGridModel()).Sort(Model.GridSortOptions).Attributes(
        id => "grid", style => "width: 100%;").Columns(
                column => column.For(x => Html.ActionLinkUi(new { id = x.Key })).Attributes(style => "width:70px;"))
        @Html.MvcContrib().PagerThemed(Model.PagedList)                
    </div>
</div>
