﻿@model Ideaware.Hps.Entities.Setup.Category
@{
    ViewBag.Title = "Create";
}
<h2>
    Create</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td class="header">
                 @Html.LabelFor(model => model.Color)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.Color)
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.CategoryName)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.CategoryName)
                @Html.ValidationMessageFor(model => model.CategoryName)
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.EngineNo)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.EngineNo)                
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.ChasisNo)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.ChasisNo)                
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.RegistrationNo)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.RegistrationNo)                
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.ProductSize)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.ProductSize)                
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.ProductWeight)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.ProductWeight)                
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.EmiNo)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.EmiNo)                
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.ManufacturingDate)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.ManufacturingDate)                
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.ValidityDate)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.ValidityDate)                
            </td>
        </tr>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.KeyNo)
            </td>
            <td class="content">
                @Html.EditorFor(model => model.KeyNo)
                @Html.ValidationMessageFor(model => model.KeyNo)
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="content">
                <p>
                    <input type="submit" value="Create" />
                </p>
            </td>
        </tr>
    </table>                   
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
