﻿@model Ideaware.Hps.Entities.Setup.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<table>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.Color)
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.Color)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.CategoryName)
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.CategoryName)            
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.EngineNo)
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.EngineNo)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.ChasisNo)
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.ChasisNo)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.RegistrationNo)
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.RegistrationNo)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.ProductSize)
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.ProductSize)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.ProductWeight)
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.ProductWeight)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.EmiNo)
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.EmiNo)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.ManufacturingDate)
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.ManufacturingDate)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.ValidityDate)
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.ValidityDate)            
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.KeyNo)
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.KeyNo)            
        </td>
    </tr>    
</table>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
