﻿@{
	ViewBag.Title = "Change Password";
}
<ul class="path floatContainer">
    <li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<h1>@ViewBag.Title</h1>
<p>
    Your password has been changed successfully.
</p>
<p>
	@Html.ActionLink("Back to my account >>", "Edit", "Users", new{id=this.User.Id}, null)
</p>
