﻿@{
	ViewBag.Title = "Email Sent";
}
<ul class="path floatContainer">
    <li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<h1>@ViewBag.Title</h1>
<p>
    Instructions about how to reset your password were sent to your email.
</p>
