﻿@model Ideaware.Hps.Entities.Setup.Branch
@{
    ViewBag.Title = "Details";
}
<div id="content">
    <div id="box">
        <h3 id="addbranch">
            Branch details</h3>
        <form id="form" action="#">
        <fieldset id="personal">
            <legend>BRANCH INFORMATION</legend>
            @Html.LabelFor(model => model.BranchName)
            @Html.DisplayFor(model => model.BranchName)
            <br />
            @Html.LabelFor(model => model.OfficeAddress)
            @Html.DisplayFor(model => model.OfficeAddress)
            @Html.LabelFor(model => model.ContactNumber)
            @Html.DisplayFor(model => model.ContactNumber)
            <br />
            @Html.LabelFor(model => model.FaxNumber)
            @Html.DisplayFor(model => model.FaxNumber)
            <br />
            @Html.LabelFor(model => model.EmailAddress)
            @Html.DisplayFor(model => model.EmailAddress)
            <br />
            @Html.LabelFor(model => model.IsBlock)
            @Html.DisplayFor(model => model.IsBlock)
            <br />
            @Html.LabelFor(model => model.BlockDetail)
            @Html.DisplayFor(model => model.BlockDetail)
            <br />
            @Html.LabelFor(model => model.IsActive)
            @Html.DisplayFor(model => model.IsActive)
            <br />
        </fieldset>
        </form>
        <p>
            @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
