﻿@model Ideaware.Hps.Web.ViewModels.PagedViewModel<Ideaware.Hps.Entities.Setup.Branch>
@{
    ViewBag.Title = "Branches";
}
@section styles
    {
    <link href="@Url.Content("~/Content/mvccontrib.grid.css")" rel="stylesheet" type="text/css" />
}

<div id="content">
    @{Html.RenderPartial("_searchBox", Model.PagedList);}

    @Html.Partial("_grid", Model)

</div>

@section scripts
{


    <script src="@Url.Content("~/Scripts/jquery.mvccontrib.grid.js")" type="text/javascript" ></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var options = {
                url: "@Url.Action("Index")",
                alignRight: true,
                addRowOverState: true,
                addSelectedState: true
            };
            $("#mvccontribGridWrapper").mvccontribGrid(options);
        });
    </script>
}