﻿@model Ideaware.Hps.Web.ViewModels.PagedViewModel<Ideaware.Hps.Entities.Stock.Product>
<link href="@Url.Content("~/Content/mvccontrib.grid.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "EditProducts";
}
<div id="content">
    <div id="box">
        <h3 id="addbranch">
            Edit Products</h3>
        <div id="mvccontribGridWrapper">
            @Html.Partial("_gridProducts", Model)
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.mvccontrib.grid.js")" type="text/javascript" ></script>
<script type="text/javascript">
    $(document).ready(function () {
        var options = {
            url: "@Url.Action("EditProducts")", 
            alignRight: true,
            addRowOverState: true,
            addSelectedState: true
        };
        $("#mvccontribGridWrapper").mvccontribGrid(options);
    });
</script>
@Html.Partial("_sidebar")
