﻿@model Ideaware.Hps.Entities.Setup.Color
@{
    ViewBag.Title = "Details";
}
<h2>
    Color Details - @Model.ColorName</h2>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index",
    ViewBag.RouteDicForList as RouteValueDictionary)
</p>
<table>
    <tr>
        <td class="header">
            Color Info
        </td>
        <td class="content">
            ID : @Html.DisplayFor(model => model.Key)
        </td>
    </tr>
    <tr>
        <td class="header">
            Color Name
        </td>
        <td class="content">@Html.DisplayFor(model => model.ColorName)
        </td>
    </tr>
    <tr>
        <td class="header">
            Date Created
        </td>
        <td class="content">@Html.DisplayFor(model => model.DateCreated)
        </td>
    </tr>
    <tr>
        <td class="header">
            Date Modified
        </td>
        <td class="content">@Html.DisplayFor(model => model.DateModified)
        </td>
    </tr>
    <tr>
        <td class="header">
            Is Active
        </td>
        <td class="content">@Html.DisplayFor(model => model.IsActive)
        </td>
    </tr>
    <tr>
        <td class="header">
            Access User Id
        </td>
        <td class="content">@Html.DisplayFor(model => model.AccessUserId)
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index",
    ViewBag.RouteDicForList as RouteValueDictionary)
</p>
