﻿@{
    ViewBag.Title = "About Us";
}
<div id="content">
    <div id="box">
        <h3>
            Users</h3>
        <table width="100%">
            <thead>
                <tr>
                    <th width="40px">
                        <a href="#">ID<img src="img/icons/arrow_down_mini.gif" width="16" height="16" align="absmiddle" /></a>
                    </th>
                    <th>
                        <a href="#">Full Name</a>
                    </th>
                    <th>
                        <a href="#">Email</a>
                    </th>
                    <th width="70px">
                        <a href="#">Group</a>
                    </th>
                    <th width="50px">
                        <a href="#">ZIP</a>
                    </th>
                    <th width="90px">
                        <a href="#">Registered</a>
                    </th>
                    <th width="60px">
                        <a href="#">Action</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="a-center">
                        232
                    </td>
                    <td>
                        <a href="#">Jennifer Hodes</a>
                    </td>
                    <td>
                        jennifer.hodes@gmail.com
                    </td>
                    <td>
                        General
                    </td>
                    <td>
                        1000
                    </td>
                    <td>
                        July 2, 2008
                    </td>
                    <td>
                        <a href="#">
                            <img src="img/icons/user.png" title="Show profile" width="16" height="16" /></a><a
                                href="#"><img src="img/icons/user_edit.png" title="Edit user" width="16" height="16" /></a><a
                                    href="#"><img src="img/icons/user_delete.png" title="Delete user" width="16" height="16" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="a-center">
                        231
                    </td>
                    <td>
                        <a href="#">Mark Kyrnin</a>
                    </td>
                    <td>
                        mark.kyrnin@hotmail.com
                    </td>
                    <td>
                        Affiliate
                    </td>
                    <td>
                        8310
                    </td>
                    <td>
                        June 17, 2008
                    </td>
                    <td>
                        <a href="#">
                            <img src="img/icons/user.png" title="Show profile" width="16" height="16" /></a><a
                                href="#"><img src="img/icons/user_edit.png" title="Edit user" width="16" height="16" /></a><a
                                    href="#"><img src="img/icons/user_delete.png" title="Delete user" width="16" height="16" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="a-center">
                        230
                    </td>
                    <td>
                        <a href="#">Virgílio Cezar</a>
                    </td>
                    <td>
                        virgilio@somecompany.cz
                    </td>
                    <td>
                        General
                    </td>
                    <td>
                        6200
                    </td>
                    <td>
                        June 31, 2008
                    </td>
                    <td>
                        <a href="#">
                            <img src="img/icons/user.png" title="Show profile" width="16" height="16" /></a><a
                                href="#"><img src="img/icons/user_edit.png" title="Edit user" width="16" height="16" /></a><a
                                    href="#"><img src="img/icons/user_delete.png" title="Delete user" width="16" height="16" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="a-center">
                        229
                    </td>
                    <td>
                        <a href="#">Todd Simonides</a>
                    </td>
                    <td>
                        todd.simonides@gmail.com
                    </td>
                    <td>
                        Wholesale
                    </td>
                    <td>
                        2010
                    </td>
                    <td>
                        June 5, 2008
                    </td>
                    <td>
                        <a href="#">
                            <img src="img/icons/user.png" title="Show profile" width="16" height="16" /></a><a
                                href="#"><img src="img/icons/user_edit.png" title="Edit user" width="16" height="16" /></a><a
                                    href="#"><img src="img/icons/user_delete.png" title="Delete user" width="16" height="16" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="a-center">
                        228
                    </td>
                    <td>
                        <a href="#">Carol Elihu</a>
                    </td>
                    <td>
                        carol@herbusiness.com
                    </td>
                    <td>
                        General
                    </td>
                    <td>
                        3120
                    </td>
                    <td>
                        May 23, 2008
                    </td>
                    <td>
                        <a href="#">
                            <img src="img/icons/user.png" title="Show profile" width="16" height="16" /></a><a
                                href="#"><img src="img/icons/user_edit.png" title="Edit user" width="16" height="16" /></a><a
                                    href="#"><img src="img/icons/user_delete.png" title="Delete user" width="16" height="16" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="a-center">
                        232
                    </td>
                    <td>
                        <a href="#">Jennifer Hodes</a>
                    </td>
                    <td>
                        jennifer.hodes@gmail.com
                    </td>
                    <td>
                        General
                    </td>
                    <td>
                        1000
                    </td>
                    <td>
                        July 2, 2008
                    </td>
                    <td>
                        <a href="#">
                            <img src="img/icons/user.png" title="Show profile" width="16" height="16" /></a><a
                                href="#"><img src="img/icons/user_edit.png" title="Edit user" width="16" height="16" /></a><a
                                    href="#"><img src="img/icons/user_delete.png" title="Delete user" width="16" height="16" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="a-center">
                        231
                    </td>
                    <td>
                        <a href="#">Mark Kyrnin</a>
                    </td>
                    <td>
                        mark.kyrnin@hotmail.com
                    </td>
                    <td>
                        Affiliate
                    </td>
                    <td>
                        8310
                    </td>
                    <td>
                        June 17, 2008
                    </td>
                    <td>
                        <a href="#">
                            <img src="img/icons/user.png" title="Show profile" width="16" height="16" /></a><a
                                href="#"><img src="img/icons/user_edit.png" title="Edit user" width="16" height="16" /></a><a
                                    href="#"><img src="img/icons/user_delete.png" title="Delete user" width="16" height="16" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="a-center">
                        230
                    </td>
                    <td>
                        <a href="#">Virgílio Cezar</a>
                    </td>
                    <td>
                        virgilio@somecompany.cz
                    </td>
                    <td>
                        General
                    </td>
                    <td>
                        6200
                    </td>
                    <td>
                        June 31, 2008
                    </td>
                    <td>
                        <a href="#">
                            <img src="img/icons/user.png" title="Show profile" width="16" height="16" /></a><a
                                href="#"><img src="img/icons/user_edit.png" title="Edit user" width="16" height="16" /></a><a
                                    href="#"><img src="img/icons/user_delete.png" title="Delete user" width="16" height="16" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="a-center">
                        229
                    </td>
                    <td>
                        <a href="#">Todd Simonides</a>
                    </td>
                    <td>
                        todd.simonides@gmail.com
                    </td>
                    <td>
                        Wholesale
                    </td>
                    <td>
                        2010
                    </td>
                    <td>
                        June 5, 2008
                    </td>
                    <td>
                        <a href="#">
                            <img src="img/icons/user.png" title="Show profile" width="16" height="16" /></a><a
                                href="#"><img src="img/icons/user_edit.png" title="Edit user" width="16" height="16" /></a><a
                                    href="#"><img src="img/icons/user_delete.png" title="Delete user" width="16" height="16" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="a-center">
                        228
                    </td>
                    <td>
                        <a href="#">Carol Elihu</a>
                    </td>
                    <td>
                        carol@herbusiness.com
                    </td>
                    <td>
                        General
                    </td>
                    <td>
                        3120
                    </td>
                    <td>
                        May 23, 2008
                    </td>
                    <td>
                        <a href="#">
                            <img src="img/icons/user.png" title="Show profile" width="16" height="16" /></a><a
                                href="#"><img src="img/icons/user_edit.png" title="Edit user" width="16" height="16" /></a><a
                                    href="#"><img src="img/icons/user_delete.png" title="Delete user" width="16" height="16" /></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="pager">
            Page <a href="#">
                <img src="img/icons/arrow_left.gif" width="16" height="16" /></a>
            <input size="1" value="1" type="text" name="page" id="page" />
            <a href="#">
                <img src="img/icons/arrow_right.gif" width="16" height="16" /></a>of 42 pages
            | View
            <select name="view">
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
            per page | Total <strong>420</strong> records found
        </div>
    </div>
    <br />
    <div id="box">
        <h3 id="adduser">
            Add user</h3>
        <form id="form" action="..." method="post">
        <fieldset id="personal">
            <legend>PERSONAL INFORMATION</legend>
            <label for="lastname">
                Last name :
            </label>
            <input name="lastname" id="lastname" type="text" tabindex="1" />
            <br />
            <label for="firstname">
                First name :
            </label>
            <input name="firstname" id="firstname" type="text" tabindex="2" />
            <br />
            <label for="email">
                Email :
            </label>
            <input name="email" id="email" type="text" tabindex="2" />
            <br />
            <p>
                Send auto generated password
                <input name="generatepass" id="yes" type="checkbox" value="yes" tabindex="35" /></p>
            <label for="pass">
                Password :
            </label>
            <input name="pass" id="pass" type="password" tabindex="2" />
            <br />
            <label for="pass-2">
                Password :
            </label>
            <input name="pass-2" id="pass-2" type="password" tabindex="2" />
            <br />
        </fieldset>
        <fieldset id="address">
            <legend>Address</legend>
            <label for="street">
                Street address :
            </label>
            <input name="street" id="street" type="text" tabindex="1" />
            <br />
            <label for="city">
                City :
            </label>
            <input name="city" id="city" type="text" tabindex="2" />
            <br />
            <label for="country">
                Country :
            </label>
            <input name="country" id="country" type="text" tabindex="1" />
            <br />
            <label for="state">
                State/Province :
            </label>
            <input name="state" id="state" type="text" tabindex="2" />
            <br />
            <label for="zip">
                Zip/Postal Code :
            </label>
            <input name="zip" id="zip" type="text" tabindex="2" />
            <br />
            <label for="tel">
                Telephone :
            </label>
            <input name="tel" id="tel" type="text" tabindex="2" />
        </fieldset>
        <fieldset id="opt">
            <legend>OPTIONS</legend>
            <label for="choice">
                Group :
            </label>
            <select name="choice">
                <option selected="selected" label="none" value="none">General </option>
                <optgroup label="Group 1">
                    <option label="cg1a" value="val_1a">Selection group 1a </option>
                    <option label="cg1b" value="val_1b">Selection group 1b </option>
                    <option label="cg1c" value="val_1c">Selection group 1c </option>
                </optgroup>
                <optgroup label="Group 2">
                    <option label="cg2a" value="val_2a">Selection group 2a </option>
                    <option label="cg2b" value="val_2a">Selection group 2b </option>
                </optgroup>
                <optgroup label="Group 3">
                    <option label="cg3a" value="val_3a">Selection group 3a </option>
                    <option label="cg3a" value="val_3a">Selection group 3b </option>
                </optgroup>
            </select>
        </fieldset>
        <div align="center">
            <input id="button1" type="submit" value="Send" />
            <input id="button2" type="reset" />
        </div>
        </form>
    </div>
</div>
<div id="sidebar">
    <ul>
        <li>
            <h3>
                <a href="#" class="house">Dashboard</a></h3>
            <ul>
                <li><a href="#" class="report">Sales Report</a></li>
                <li><a href="#" class="report_seo">SEO Report</a></li>
                <li><a href="#" class="search">Search</a></li>
            </ul>
        </li>
        <li>
            <h3>
                <a href="#" class="folder_table">Orders</a></h3>
            <ul>
                <li><a href="#" class="addorder">New order</a></li>
                <li><a href="#" class="shipping">Shipments</a></li>
                <li><a href="#" class="invoices">Invoices</a></li>
            </ul>
        </li>
        <li>
            <h3>
                <a href="#" class="manage">Manage</a></h3>
            <ul>
                <li><a href="#" class="manage_page">Pages</a></li>
                <li><a href="#" class="cart">Products</a></li>
                <li><a href="#" class="folder">Product categories</a></li>
                <li><a href="#" class="promotions">Promotions</a></li>
            </ul>
        </li>
        <li>
            <h3>
                <a href="#" class="user">Users</a></h3>
            <ul>
                <li><a href="#" class="useradd">Add user</a></li>
                <li><a href="#" class="group">User groups</a></li>
                <li><a href="#" class="search">Find user</a></li>
                <li><a href="#" class="online">Users online</a></li>
            </ul>
        </li>
    </ul>
</div>
