﻿<div class="carousel">
    <ul>
        <li>
            <img src="@Url.Content("~/images/carousel/1.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/images/carousel/2.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/images/carousel/3.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/images/carousel/4.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/images/carousel/5.jpg")" width="945" height="394" alt="" /></li>
        <li>
            <img src="@Url.Content("~/images/carousel/6.jpg")" width="945" height="394" alt="" /></li>
    </ul>
</div>