﻿<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>@ViewBag.Title | HPS</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HPS | higher purchase solution">
    <meta name="author" content="afeefjanjua">

    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="dashboard">
    
        @Html.Partial("_menu")
        
        <div class="container-fluid">
            <div class="row-fluid">
                <!-- Side Navigation -->
                @Html.Partial("_sidebar")
                <!--/span-->

                <!-- Bread Crumb Navigation -->
                @RenderBody()
                <!--/span-->
            </div>
            <!--/row-->
            
            <!-- Footer -->
            @Html.Partial("Footer")
            <!--/row-->

        </div>        
    
    @Scripts.Render("~/bundles/jquery","~/bundles/jqueryui","~/bundles/jqueryval","~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!--[if lt IE 7 ]>
        <script src="@Url.Content("~/Scripts/dd_belatedpng.js")"></script>
        <script> DD_belatedPNG.fix('img, .png_bg');</script>
    <![endif]-->
    @Html.Partial("_googleAnalytics")
</body>
</html>