﻿@if (Request.IsAuthenticated)
{
    <div class="btn-group pull-right">

        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i>
            @this.Session.User.FullName
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li>@Html.ActionLink("Settings", "ChangePassword", "Account")</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
        </ul>
    </div>
}
else
{
    <ul class="nav pull-right">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Guest
                        <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Login", "Login", "Account")
                </li>
                <li>
                    @Html.ActionLink("Register", "Register", "Account")
                </li>
            </ul>
        </li>
    </ul>
}