﻿<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            @Html.ActionLink("HPS", "Index", "Home", null, new { @class = "brand" })

            @Html.Partial("_LoginPartial")

            @if (Request.IsAuthenticated)
            {
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown">Messages <span class="label label-info">100</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                                <li>@Html.ActionLink("Manage Users", "Index", "UserAdministration")</li>
                                <li>@Html.ActionLink("Users", "Index2", "UserAdministration")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("GoodsReceived", "Index", "GoodsReceived")</li>
                                <li>@Html.ActionLink("Booking", "Index", "Booking")</li>
                                <li>@Html.ActionLink("Users", "About", "Home")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown">Setup
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Tenant", "Index", "Tenant")</li>
                                <li>@Html.ActionLink("Branch", "Index", "Branch")</li>
                                <li>@Html.ActionLink("Category", "Index", "Category")</li>
                                <li>@Html.ActionLink("Color", "Index", "Color")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("DocumentType", "Index", "DocumentType")</li>
                                <li>@Html.ActionLink("Manufacturer", "Index", "Manufacturer")</li>
                                <li>@Html.ActionLink("Model", "Index", "Model")</li>
                                <li>@Html.ActionLink("Vendor", "Index", "Vendor")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            }
        </div>
    </div>
</div>
