﻿<footer>
    <p>&copy; HPS @DateTime.Now.Year</p>
</footer>
<div id="box-config-modal" class="modal hide fade in" style="display: none;">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Adjust widget</h3>
    </div>
    <div class="modal-body">
        <p>This part can be customized to set box content specifix settings!</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Save Changes</a>
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
</div>