﻿@model Ideaware.Hps.Entities.Setup.Branch
@{
    ViewBag.Title = "Edit";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="content">
    <div id="box">
        <h3 id="editbranch">
            Edit branch</h3>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form"}))
        {
            @Html.ValidationSummary(true)
            <fieldset id="personal">
                <legend>BRANCH INFORMATION</legend>
                @Html.HiddenFor(model => model.Key)
                @Html.HiddenFor(model => model.DateCreated)
                @Html.LabelFor(model => model.BranchName)
                @Html.EditorFor(model => model.BranchName)
                @Html.ValidationMessageFor(model => model.BranchName)
                <br />
                @Html.LabelFor(model => model.OfficeAddress)
                @Html.EditorFor(model => model.OfficeAddress)
                @Html.ValidationMessageFor(model => model.OfficeAddress)
                <br />
                @Html.LabelFor(model => model.ContactNumber)
                @Html.EditorFor(model => model.ContactNumber)
                @Html.ValidationMessageFor(model => model.ContactNumber)
                <br />
                @Html.LabelFor(model => model.FaxNumber)
                @Html.EditorFor(model => model.FaxNumber)
                @Html.ValidationMessageFor(model => model.FaxNumber)
                <br />
                @Html.LabelFor(model => model.EmailAddress)
                @Html.EditorFor(model => model.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
                <br />
                @Html.LabelFor(model => model.IsBlock)
                @Html.EditorFor(model => model.IsBlock)
                @Html.ValidationMessageFor(model => model.IsBlock)
                <br />
                @Html.LabelFor(model => model.BlockDetail)
                @Html.EditorFor(model => model.BlockDetail)
                @Html.ValidationMessageFor(model => model.BlockDetail)
                <br />
                @Html.LabelFor(model => model.IsActive)
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
                <br />
            </fieldset>
            <div align="center">
                <input id="button1" type="submit" value="Save" />
                <input id="button2" type="reset" />
            </div>                                           
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
