﻿@using (Html.BeginForm("Index", "Tenant", FormMethod.Get, new { @class= "form-search", id = "colorSearch" }))
{       
    <div class="input-append">
        @Html.TextBox("searchWord", null, new { @class = "search-query input-xxlarge", placeholder = "Search" })
        <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
             
    
}