﻿@model Ideaware.Hps.Entities.Setup.Tenant
@{
    ViewBag.Title = "Create";
}

<div class="span10">
    @Html.Partial("_breadCrumbs")
    <div class="row-fluid">        
        <div class="span1 action-btn round-all">
            <a href="@Url.Action("Index")">
                <div><i class="icon-align-justify"></i></div>
                <div><strong>List</strong></div>        	
            </a>            
        </div>
    </div>
    <div class="row-fluid">
        <!-- Portlet -->

        <div class="span12 column ui-sortable" id="col0">

            <!-- Portlet: Form Control States -->
            <div class="box" id="box-0" style="opacity: 1; z-index: 0;">
                <h4 class="box-header round-top">Create Tenant
                    <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                    <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>
                    <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
                </h4>
                <div class="box-container-toggle">
                    <div class="box-content">
                        @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.ValidationSummary(true)
                            <fieldset>
                                <legend>Form control states</legend>
                                <div class="control-group">
                                    @Html.LabelFor(model => model.TenantName, new { @class = "control-label" })                                    
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.TenantName, new { @class = "input-xlarge focused" })
                                        @Html.ValidationMessageFor(model => model.TenantName)                                        
                                    </div>
                                </div>
                                <div class="control-group">
                                    @Html.LabelFor(model => model.TenantDescription, new { @class = "control-label" }) 
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.TenantDescription, new { @class = "input-xlarge focused" })
                                        @Html.ValidationMessageFor(model => model.TenantDescription) 
                                    </div>
                                </div>                                
                                <div class="control-group">
                                    @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                                    <div class="controls">
                                        <label>
                                            @Html.CheckBoxFor(model => model.IsActive)                                        
                                        </label>
                                    </div>
                                </div>                                                                                                                                
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                    <button type="reset" class="btn">Cancel</button>
                                </div>
                            </fieldset>
                            
                        }
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>

    </div>
</div>