﻿@model Ideaware.Hps.Web.ViewModels.PagedViewModel<Ideaware.Hps.Entities.Setup.Tenant>
@{
    ViewBag.Title = "Index";
}
<div class="span10">
    @Html.Partial("_breadCrumbs")
    <div class="row-fluid">
        <div class="span1 action-btn round-all">
            <a href="@Url.Action("Create")">
                <div><i class="icon-pencil"></i></div>
                <div><strong>Add</strong></div>
            </a>
        </div>
        <div class="span1 action-btn round-all">
            <a href="#">
                <div><i class="icon-edit"></i></div>
                <div><strong>Edit</strong></div>
            </a>
        </div>
        <div class="span1 action-btn round-all">
            <a href="#">
                <div><i class="icon-trash"></i></div>
                <div><strong>Delete</strong></div>
            </a>
        </div>
        <div class="span1 action-btn round-all">
            <a href="#">
                <div><i class="icon-align-justify"></i></div>
                <div><strong>List</strong></div>
            </a>
        </div>
    </div>
    <div class="row-fluid">

        <div class="row-fluid">
            <!-- Portlet Set 4 -->
            <div class="span12">
                <!-- Portlet: Data Table -->
                <div class="box">
                    <h4 class="box-header round-top">Tenants List
                        <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                        <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>
                        <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
                    </h4>
                    <div class="box-container-toggle">
                        <div class="box-content">
                            <div id="datatable_wrapper" class="dataTables_wrapper" role="grid">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div id="datatable_filter">
                                            @Html.Partial("_searchBox", Model.PagedList)
                                        </div>
                                    </div>
                                </div>
                                <div id="data-grid">
                                    @Html.Partial("_grid", Model)
                                </div>                                                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <!-- Portlet Set 3 -->
        </div>
        <!--/span-->
    </div>
    <!--/row-->


</div>

@section scripts
{

    <script type="text/javascript">
        $(document).ready(function () {            
            $("#data-grid").mvccontribGrid({
                url: "@Url.Action("Index")",
                alignRight: true,
                addRowOverState: true,
                addSelectedState: true
            });
        });
    </script>
}