﻿@model Ideaware.Hps.Web.ViewModels.Stock.AddProductsViewModel
<link href="@Url.Content("~/Content/mvccontrib.grid.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="content">
    <div id="box">
        <h3 id="addbranch">
            Add Products</h3>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.GoodsReceivedId)
            @Html.HiddenFor(model => model.Product.Key)
            <fieldset id="personal">
                <legend>PRODUCT INFORMATION</legend>
                @Html.LabelFor(model => model.ManufacturerId)
                @Html.DropDownListFor(model => model.ManufacturerId, Model.Manufacturers)
                <br />
                @Html.LabelFor(model => model.ModelId)
                @Html.DropDownListFor(model => model.ModelId, Model.Models)
                <br />
                @Html.LabelFor(model => model.BranchId)
                @Html.DropDownListFor(model => model.BranchId, Model.Branches)
                <br />
                @Html.LabelFor(model => model.ColorId)
                @Html.DropDownListFor(model => model.ColorId, Model.Colors)
                <br />
                @Html.LabelFor(model => model.Product.ProductNo)
                @Html.EditorFor(model => model.Product.ProductNo)
                @Html.ValidationMessageFor(model => model.Product.ProductNo)
                <br />
                @Html.LabelFor(model => model.Product.ProductName)
                @Html.EditorFor(model => model.Product.ProductName)
                @Html.ValidationMessageFor(model => model.Product.ProductName)
                <br />
                @Html.LabelFor(model => model.Product.EngineNo)
                @Html.EditorFor(model => model.Product.EngineNo)
                @Html.ValidationMessageFor(model => model.Product.EngineNo)
                <br />
                @Html.LabelFor(model => model.Product.ChasisNo)
                @Html.EditorFor(model => model.Product.ChasisNo)
                @Html.ValidationMessageFor(model => model.Product.ChasisNo)
                <br />
                @Html.LabelFor(model => model.Product.RegistrationNo)
                @Html.EditorFor(model => model.Product.RegistrationNo)
                @Html.ValidationMessageFor(model => model.Product.RegistrationNo)
                <br />
                @Html.LabelFor(model => model.Product.ProductSize)
                @Html.EditorFor(model => model.Product.ProductSize)
                @Html.ValidationMessageFor(model => model.Product.ProductSize)
                <br />
                @Html.LabelFor(model => model.Product.ProductWeight)
                @Html.EditorFor(model => model.Product.ProductWeight)
                @Html.ValidationMessageFor(model => model.Product.ProductWeight)
                <br />
                @Html.LabelFor(model => model.Product.EMINo)
                @Html.EditorFor(model => model.Product.EMINo)
                @Html.ValidationMessageFor(model => model.Product.EMINo)
                <br />
                @Html.LabelFor(model => model.Product.ManufacturingDate)
                @Html.EditorFor(model => model.Product.ManufacturingDate)
                @Html.ValidationMessageFor(model => model.Product.ManufacturingDate)
                <br />
                @Html.LabelFor(model => model.Product.ValidityDate)
                @Html.EditorFor(model => model.Product.ValidityDate)
                @Html.ValidationMessageFor(model => model.Product.ValidityDate)
                <br />
                @Html.LabelFor(model => model.Product.KeyNo)
                @Html.EditorFor(model => model.Product.KeyNo)
                @Html.ValidationMessageFor(model => model.Product.KeyNo)
                <br />
                @Html.LabelFor(model => model.Product.ActualPrice)
                @Html.EditorFor(model => model.Product.ActualPrice)
                @Html.ValidationMessageFor(model => model.Product.ActualPrice)
                <br />
                @Html.LabelFor(model => model.Product.SalePrice)
                @Html.EditorFor(model => model.Product.SalePrice)
                @Html.ValidationMessageFor(model => model.Product.SalePrice)
                <br />
                @Html.LabelFor(model => model.Product.ProductStatus)
                @Html.EditorFor(model => model.Product.ProductStatus)
                @Html.ValidationMessageFor(model => model.Product.ProductStatus)
                <br />
                @Html.LabelFor(model => model.Product.ProductRemarks)
                @Html.EditorFor(model => model.Product.ProductRemarks)
                @Html.ValidationMessageFor(model => model.Product.ProductRemarks)
                <br />
                @Html.LabelFor(model => model.ManufacturerId)
                @Html.EditorFor(model => model.Product.IsActive)
                <br />
            </fieldset>
            
            <div align="center">
                <input id="button1" type="submit" value="Create" />
                <input id="button2" type="reset" />
            </div>   
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    <div id="mvccontribGridWrapper">
        @Html.Partial("_gridProducts", Model.Products)
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.mvccontrib.grid.js")" type="text/javascript" ></script>
<script type="text/javascript">
    $(document).ready(function () {
        var options = {
            url: "@Url.Action("AddProducts")", 
            alignRight: true,
            addRowOverState: true,
            addSelectedState: true
        };
        $("#mvccontribGridWrapper").mvccontribGrid(options);
    });
</script>
@Html.Partial("_sidebar")
