﻿@model Ideaware.Hps.Web.ViewModels.Stock.GoodsReceivedViewModel
@{
    ViewBag.Title = "Create";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="content">
    <div id="box">
        <h3 id="addbranch">
            Add branch</h3>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
        {
            @Html.ValidationSummary(true)
    
            <fieldset id="personal">
                <legend>GOODS RECEIVED INFORMATION</legend>
                @Html.LabelFor(model => model.GoodsReceived.GoodsReceivedNo)
                @Html.EditorFor(model => model.GoodsReceived.GoodsReceivedNo)
                @Html.ValidationMessageFor(model => model.GoodsReceived.GoodsReceivedNo)
                <br />
                @Html.LabelFor(model => model.GoodsReceived.GoodsReceivedDate)
                @Html.EditorFor(model => model.GoodsReceived.GoodsReceivedDate)
                @Html.ValidationMessageFor(model => model.GoodsReceived.GoodsReceivedDate)
                <br />
                @Html.LabelFor(model => model.GoodsReceived.Vendor)
                @Html.DropDownListFor(model => model.VendorId, Model.Vendors)
                <br />
                @Html.LabelFor(model => model.GoodsReceived.Category)
                @Html.DropDownListFor(model => model.CategoryId, Model.Categories)
                <br />
                @Html.LabelFor(model => model.GoodsReceived.Remarks)
                @Html.EditorFor(model => model.GoodsReceived.Remarks)
                @Html.ValidationMessageFor(model => model.GoodsReceived.Remarks)
                <br />
            </fieldset>
            <div align="center">
                <input id="button1" type="submit" value="Create" />
                <input id="button2" type="reset" />
            </div>       
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
