﻿@using Ideaware.Hps.Web.Controllers.Helpers
@model Ideaware.Hps.Entities.Models.TabViewModel
           
           <h3>Tab Text 2</h3>

<p>
    @Model.TabText2
</p>

<p class ="ui-state-error">
    @JQueryUiHelper.InsertIcon("icon-alert")
    Error Text !
</p>


