﻿@model Ideaware.Hps.Entities.Setup.Branch
@{
    ViewBag.Title = "Delete";
}
<div id="content">
    <div id="box">
        <h3 id="deletebranch">
            Are you sure you want to delete this?</h3>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
        {
            <fieldset id="personal">
                <legend>BRANCH INFORMATION</legend>
                @Html.LabelFor(model => model.BranchName)
                @Html.DisplayFor(model => model.BranchName)
                <br />
            </fieldset>
            <div align="center">
                <input id="button1" type="submit" value="Delete" />
            </div>            
        }
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
