﻿@{
    ViewBag.Title = "Home Page";
}

<div class="span10">
    @Html.Partial("_breadCrumbs")

    <!-- Geographic Page Visit Map -->
    <div class="row-fluid">
        <div>
            <div id="dashboard-visit-map"></div>
        </div>
    </div>

    <div class="row-fluid">
        <!-- Portlet Set 1 -->
        <div class="span4 column" id="col1">
            <!-- Portlet: Browser Usage Graph -->
            <div class="box" id="box-0">
                <h4 class="box-header round-top">Browser Usage Graph
                            <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                    <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>
                    <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
                </h4>
                <div class="box-container-toggle">
                    <div class="box-content">
                        <div id="dashboard-browser-chart"></div>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>

        <!-- Portlet Set 2 -->
        <div class="span4 column" id="col2">
            <!-- Portlet: Page Visit Graph -->
            <div class="box" id="box-1">
                <h4 class="box-header round-top">Page Visit Graph
                            <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                    <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>
                    <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
                </h4>
                <div class="box-container-toggle">
                    <div class="box-content">
                        <div id="dashboard-visit-chart"></div>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>

        <!-- Portlet Set 3 -->
        <div class="span4 column" id="col3">
            <!-- Portlet: Site Activity Gauges -->
            <div class="box" id="box-2">
                <h4 class="box-header round-top">Site Activity Gauges
                            <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                    <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>
                    <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
                </h4>
                <div class="box-container-toggle">
                    <div class="box-content">
                        <div id="dashboard-new-registrations-gauge-chart"></div>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
    </div>


    <div class="row-fluid">
        <!-- Calendar -->
        <div class="span12">
            <!-- Portlet: Event Calandar (Fixed) -->
            <div class="box" id="box-0">
                <h4 class="box-header round-top">Event Calendar
                            <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                    <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>
                    <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
                </h4>
                <div class="box-container-toggle">
                    <div class="box-content">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
    </div>

    <div class="row-fluid">
        <!-- Portlet Set 4 -->
        <div class="span4 column" id="col4">
            <!-- Portlet: Site Activity Gauges -->
            <div class="box" id="box-3">
                <h4 class="box-header round-top">Member Activity
                <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                    <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>
                    <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
                </h4>
                <div class="box-container-toggle">
                    <div class="box-content">
                        <ul class="dashboard-member-activity">
                            <li>
                                <a href="#">
                                    <img src="images/member_ph.png" class="dashboard-member-activity-avatar" />
                                    <strong>Name:</strong> <a href="#">John Doe</a><br />
                                    <strong>Since:</strong> 21/01/2012<br />
                                    <strong>Status:</strong> <span class="label label-success">Approved</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/member_ph.png" class="dashboard-member-activity-avatar" />
                                    <strong>Name:</strong> <a href="#">Jane Doe</a><br />
                                    <strong>Since:</strong> 21/01/2012<br />
                                    <strong>Status:</strong> <span class="label label-important">Banned</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/member_ph.png" class="dashboard-member-activity-avatar" />
                                    <strong>Name:</strong> <a href="#">Fred Flintstone</a><br />
                                    <strong>Since:</strong> 21/01/2012<br />
                                    <strong>Status:</strong> <span class="label label-warning">Pending</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/member_ph.png" class="dashboard-member-activity-avatar" />
                                    <strong>Name:</strong> <a href="#">Bat Man</a><br />
                                    <strong>Since:</strong> 21/01/2012<br />
                                    <strong>Status:</strong> <span class="label label-info">Updates</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>

        <!-- Portlet Set 5 -->
        <div class="span4 column" id="col5">
            <!-- Portlet: Site Activity Gauges -->
            <div class="box" id="box-4">
                <h4 class="box-header round-top">Monthly Statistics
                        <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                    <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>
                    <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
                </h4>
                <div class="box-container-toggle">
                    <div class="box-content">
                        <ul class="dashboard-statistics">
                            <li>
                                <a href="#">
                                    <i class="icon-arrow-up"></i>
                                    <span class="green">100</span>
                                    New Comments                                    
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-arrow-down"></i>
                                    <span class="red">12</span>
                                    New Registrations
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-minus"></i>
                                    <span class="blue">33</span>
                                    New Articles                                    
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-fire"></i>
                                    <span class="yellow">400</span>
                                    User reviews                                    
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-arrow-up"></i>
                                    <span class="green">100</span>
                                    New Comments                                    
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-arrow-down"></i>
                                    <span class="red">12</span>
                                    New Registrations
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-minus"></i>
                                    <span class="blue">33</span>
                                    New Articles                                    
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-fire"></i>
                                    <span class="yellow">400</span>
                                    User reviews                                    
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <!-- Portlet Set 6 -->
        <div class="span4 column" id="col6">
            <!-- Portlet: Site Activity Gauges -->
            <div class="box" id="box-5">
                <h4 class="box-header round-top">Member Comments
                        <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                    <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>
                    <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
                </h4>
                <div class="box-container-toggle">
                    <div class="box-content">
                        <ul class="dashboard-member-activity">
                            <li>
                                <a href="#">
                                    <img src="images/member_ph.png" class="dashboard-member-activity-avatar" />
                                    <span class="blue">Comment by <strong>Member</strong> on 21/02/2012</span></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p>

                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/member_ph.png" class="dashboard-member-activity-avatar" />
                                    <span class="blue">Comment by <strong>Member</strong> on 21/02/2012</span></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p>

                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/member_ph.png" class="dashboard-member-activity-avatar" />
                                    <span class="blue">Comment by <strong>Member</strong> on 21/02/2012</span></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p>

                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/member_ph.png" class="dashboard-member-activity-avatar" />
                                    <span class="blue">Comment by <strong>Member</strong> on 21/02/2012</span></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
    </div>

    <!-- Table -->
    <div class="row-fluid">

        <div class="span12">
            <!-- Portlet: Browser Usage Graph -->
            <div class="box" id="box-0">
                <h4 class="box-header round-top">Members
                            <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                    <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>
                    <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
                </h4>
                <div class="box-container-toggle">
                    <div class="box-content">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered bootstrap-datatable" id="datatable">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Date registered</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Fred Flinstone</td>
                                    <td class="center">2011/01/01</td>
                                    <td class="center">Member</td>
                                    <td class="center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Spiderman</td>
                                    <td class="center">2011/02/01</td>
                                    <td class="center">Staff</td>
                                    <td class="center">
                                        <span class="label label-important">Banned</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Batman</td>
                                    <td class="center">2011/02/01</td>
                                    <td class="center">Admin</td>
                                    <td class="center">
                                        <span class="label">Inactive</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Robin</td>
                                    <td class="center">2011/03/01</td>
                                    <td class="center">Member</td>
                                    <td class="center">
                                        <span class="label label-warning">Pending</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Catwomen</td>
                                    <td class="center">2010/01/21</td>
                                    <td class="center">Staff</td>
                                    <td class="center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Garfield</td>
                                    <td class="center">2011/08/23</td>
                                    <td class="center">Staff</td>
                                    <td class="center">
                                        <span class="label label-important">Banned</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bananaman</td>
                                    <td class="center">2011/06/01</td>
                                    <td class="center">Admin</td>
                                    <td class="center">
                                        <span class="label">Inactive</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Paul</td>
                                    <td class="center">2011/03/01</td>
                                    <td class="center">Member</td>
                                    <td class="center">
                                        <span class="label label-warning">Pending</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Wilma Flinstone</td>
                                    <td class="center">2011/01/01</td>
                                    <td class="center">Member</td>
                                    <td class="center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hulk</td>
                                    <td class="center">2011/02/01</td>
                                    <td class="center">Staff</td>
                                    <td class="center">
                                        <span class="label label-important">Banned</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bob the Builder</td>
                                    <td class="center">2011/02/01</td>
                                    <td class="center">Admin</td>
                                    <td class="center">
                                        <span class="label">Inactive</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MacAndCheese</td>
                                    <td class="center">2011/03/01</td>
                                    <td class="center">Member</td>
                                    <td class="center">
                                        <span class="label label-warning">Pending</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ratamatat</td>
                                    <td class="center">2010/01/21</td>
                                    <td class="center">Staff</td>
                                    <td class="center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ZoefZoef</td>
                                    <td class="center">2011/08/23</td>
                                    <td class="center">Staff</td>
                                    <td class="center">
                                        <span class="label label-important">Banned</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SpeedyConzales</td>
                                    <td class="center">2011/06/01</td>
                                    <td class="center">Admin</td>
                                    <td class="center">
                                        <span class="label">Inactive</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>TazmanianDevil</td>
                                    <td class="center">2011/03/01</td>
                                    <td class="center">Member</td>
                                    <td class="center">
                                        <span class="label label-warning">Pending</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="#">
                                            <i class="icon-zoom-in icon-white"></i>
                                            View                                            
                                        </a>
                                        <a class="btn btn-info" href="#">
                                            <i class="icon-edit icon-white"></i>
                                            Edit                                            
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
    </div>

</div>



