﻿@model Ideaware.Hps.Entities.Models.TabViewModel
@{
    ViewBag.Title = "TabExample";
}
<h2>
    jQuery Tabs Example</h2>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Text 1</a></li>
        <li><a href="#tabs-2">Text 2</a></li>
        <li><a href="#tabs-3">Text 3</a></li>
    </ul>
    <div id="tabs-1">
        @Html.Partial("_tab1", Model)
    </div>
    <div id="tabs-2">
        @Html.Partial("_tab2", Model)
    </div>
    <div id="tabs-3">
        @Html.Partial("_tab3", Model)
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs();
    });    
</script>
