﻿@model Ideaware.Hps.Entities.Setup.Color
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Key)
    @Html.HiddenFor(model => model.DateCreated)
    <table>
        <tr>
            <td class="header">
                @Html.LabelFor(model => model.ColorName)
            </td>
            <td class="content">@Html.EditorFor(model => model.ColorName)
                @Html.ValidationMessageFor(model => model.ColorName)
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="content">
                <p>
                    <input type="submit" value="Save" />
                </p>
            </td>
        </tr>
    </table>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
