﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/flick/theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/flick/jquery-ui-1.8.18.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.18.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ie-sucks.css")" />
    <![endif]-->                
    @RenderSection("headSection", false)
    
    @Html.Partial("_googleAnalytics")
</head>
@Html.Flash()
<body>
    <div id="flash" style="display: none;">
    </div>
    <div id="container">
        <div id="header">
            <h2>
                Hire Purchase Solution</h2>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="topmenu">
                @Html.Partial("_jCarousel")
            </div>
        </div>
        <div id="wrapper">
            @RenderBody()
        </div>
        <div id="footer">
            <div id="credits">
                Copyright &copy; @DateTime.Now.Year <a href="http://www.ideaworxstudios.com">IdeaworX Studios</a>.
                | @Html.ActionLink("Terms and conditions", "Index", "Home", new { name = "terms" }, null)
            </div>
            <br />
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('input[type="submit"]').button();
        });
    </script>
</body>
</html>
