﻿@using Ideaware.Hps.Web.UI
@using MvcContrib.UI.Grid
@model Ideaware.Hps.Web.ViewModels.Transactions.BookingViewModel
@{
    ViewBag.Title = "Create";
}
@section headSection{
    <link href="@Url.Content("~/Content/mvccontrib.grid.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
<div id="content">
    <div id="box">
        <h3 id="createbooking">
            Create Booking</h3>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Booking.Key)
            <fieldset id="personal">
                <legend>BOOKING INFORMATION</legend>
                @Html.LabelFor(model => model.Booking.AccountNo)
                @Html.EditorFor(model => model.Booking.AccountNo)
                @Html.ValidationMessageFor(model => model.Booking.AccountNo)
                <br />
                @Html.LabelFor(model => model.Booking.BookingDate)
                @Html.EditorFor(model => model.Booking.BookingDate)
                @Html.ValidationMessageFor(model => model.Booking.BookingDate)
                <br />
                @Html.HiddenFor(model => model.BranchId)
                @Html.LabelFor(model => model.BranchName)
                @Html.EditorFor(model => model.BranchName)
                <button id="select_branch" class="select_record" title="Select Branch">
                    Select Branch</button>
                @Html.ActionLink("New Branch", "Index", "Branch", null, new { @class = "new_record", @title = "New Branch" })
                <br />
                @Html.HiddenFor(model => model.CustomerId)
                @Html.LabelFor(model => model.CustomerName)
                @Html.EditorFor(model => model.CustomerName)
                <button id="select_customer" class="select_record" title="Select Customer">
                    Select Customer</button>
                @Html.ActionLink("New Customer", "Index", "UserAdministration", null, new { @class = "new_record", @title = "New Customer" })
                <br />
                <hr />
                <button id="select_guarantor" class="select_record" title="Select Guarantor">
                    Select Product</button>
                @Html.ActionLink("New Product", "Index", "UserAdministration", null, new { @class = "new_record", @title = "New Guarantor" })
                <br />
                @Html.HiddenFor(model => model.GuarantorKeys)
                <div id="gridGuarantors">
                </div>
                <hr />
                <br />
                @Html.HiddenFor(model => model.ProductId)
                @Html.LabelFor(model => model.ProductName)
                @Html.EditorFor(model => model.ProductName)
                <button id="select_product" class="select_record" title="Select Product">
                    Select Product</button>
                @Html.ActionLink("New Product", "Index", "GoodsReceived", null, new { @class = "new_record", @title = "New Product" })
                <br />
                @Html.LabelFor(model => model.Product.ActualPrice)
                @Html.EditorFor(model => model.Product.ActualPrice)
                @Html.ValidationMessageFor(model => model.Product.ActualPrice)
                <br />
                @Html.LabelFor(model => model.Product.SalePrice)
                @Html.EditorFor(model => model.Product.SalePrice)
                @Html.ValidationMessageFor(model => model.Product.SalePrice)
                <br />
                @Html.LabelFor(model => model.Booking.SalePrice)
                @Html.EditorFor(model => model.Booking.SalePrice)
                @Html.ValidationMessageFor(model => model.Booking.SalePrice)
                <br />
                @Html.LabelFor(model => model.Booking.ServiceCharges)
                @Html.EditorFor(model => model.Booking.ServiceCharges)
                @Html.ValidationMessageFor(model => model.Booking.ServiceCharges)
                <br />
                @Html.LabelFor(model => model.Booking.DiscountAmount)
                @Html.EditorFor(model => model.Booking.DiscountAmount)
                @Html.ValidationMessageFor(model => model.Booking.DiscountAmount)
                <br />
                @Html.LabelFor(model => model.Booking.AdvanceAmount)
                @Html.EditorFor(model => model.Booking.AdvanceAmount)
                @Html.ValidationMessageFor(model => model.Booking.AdvanceAmount)
                <br />
                @Html.LabelFor(model => model.Booking.NoOfInstallments)
                @Html.EditorFor(model => model.Booking.NoOfInstallments)
                @Html.ValidationMessageFor(model => model.Booking.NoOfInstallments)
                <br />
                @Html.LabelFor(model => model.Booking.ModeOfPayment)
                @Html.EditorFor(model => model.Booking.ModeOfPayment)
                @Html.ValidationMessageFor(model => model.Booking.ModeOfPayment)
                <br />
                @Html.LabelFor(model => model.Booking.ChequeNo)
                @Html.EditorFor(model => model.Booking.ChequeNo)
                @Html.ValidationMessageFor(model => model.Booking.ChequeNo)
                <br />
                @Html.LabelFor(model => model.Product.ProductStatus)
                @Html.EditorFor(model => model.Product.ProductStatus)
                @Html.ValidationMessageFor(model => model.Product.ProductStatus)
                <br />
                @Html.LabelFor(model => model.Product.ProductRemarks)
                @Html.TextAreaFor(model => model.Product.ProductRemarks)
                @Html.ValidationMessageFor(model => model.Product.ProductRemarks)
                <br />
                <input id="button1" type="submit" value="Save booking and generate installment plan" />
                <input id="button2" type="reset" />
            </fieldset>                                                              
            <br />           
            
            <fieldset id="personal">
                <legend>PLAN INFORMATION</legend>
                @Html.Partial("_installments")
                <br />
            </fieldset>            
            
        }
    </div>
    <br />
    <div id="dialog">
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.mvccontrib.grid.js")" type="text/javascript" ></script>
<script type="text/javascript">

    $(function () {
        $('input[type="submit"').button();

        var gridName = '';
        // Dialog Link
        $('#select_branch').click(function () {

            openGrid('Select Branch');
            gridName = 'branch';
            return false;
        });
        $('#select_customer').click(function () {

            openGrid('Select Customer');
            gridName = 'customer';
            return false;
        });
        $('#select_product').click(function () {

            openGrid('Select Product');
            gridName = 'product';
            return false;
        });

        $('#select_guarantor').click(function () {

            openGrid('Select Guarantor');
            gridName = 'guarantor';
            return false;
        });


        (function onLoad() {

            var guarantorKeys = $('input#GuarantorKeys');

            var keyValues = guarantorKeys.val().split(',');

            var target = $('div#gridGuarantors');
            var jsonData = { keys: keyValues };

            if (keyValues && keyValues.length > 0 && keyValues[0] !== "")
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSelectedGuarantors")',
                    data: jsonData,
                    traditional: true,
                    success: function (data, b, c) {
                        target.html(data);
                    }
                });
            
        })();

        function openGrid(actionName) {

            var url = '';
            if (actionName === 'Select Branch')
                url = '@Url.Action("GetBranches")';

            if (actionName === 'Select Customer')
                url = '@Url.Action("GetCustomers")';

            if (actionName === 'Select Product')
                url = '@Url.Action("GetProducts")';

            if (actionName === 'Select Guarantor') {
                getGuarantors(actionName);
                return;
            }

            var $context = $('#dialog');
            var $content = $("<div/>").load(url, null, function () {

                $context.empty().append($content);

                $("#mvccontribGridWrapper").mvccontribGrid({
                    url: url,
                    alignRight: true,
                    addRowOverState: true,
                    addSelectedState: true
                });

                $('#dialog').dialog({
                    width: 800,
                    position: 'center',
                    title: actionName
                });
            });
        }



        function getGuarantors(actionName) {
            url = '@Url.Action("GetGuarantors")';
            var $context = $('#dialog');
            var $content = $("<div/>").load(url, null, function () {

                $context.empty().append($content);

                $("#mvccontribGridWrapper").mvccontribGrid({
                    url: url,
                    alignRight: true,
                    addRowOverState: true,
                    addSelectedState: true
                });

                $('#dialog').dialog({
                    width: 800,
                    position: 'center',
                    title: actionName,
                    buttons: {
                        "Ok": function () {

                            //var jsonData = JSON.stringify(keys);
                            var jsonData = { keys: keys };
                            var target = $('div#gridGuarantors');
                            var guarantorKeys = $('input#GuarantorKeys');

                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("GetSelectedGuarantors")',
                                data: jsonData,
                                traditional: true,
                                success: function (data, b, c) {
                                    target.html(data);
                                    guarantorKeys.val(keys.join(','));
                                }
                            });

                            $(this).dialog("close");
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        }

        var keys = [];

        $('a[title="add"]').live('click', function (e) {

            e.preventDefault();

            var ref = $(this).attr('href');
            var value = ref.substr(ref.lastIndexOf('/') + 1);

            var isExists = $.inArray(value, keys);

            if (isExists == -1) {
                keys.push(value);
                $(this).find('span').removeClass('ui-icon-plus');
                $(this).find('span').addClass('ui-icon-close');
            }
            else {
                keys.splice(keys.indexOf(value), 1);
                $(this).find('span').removeClass('ui-icon-close');
                $(this).find('span').addClass('ui-icon-plus');
            }
        });

        $('a[title="select"]').live('click', function (e) {

            e.preventDefault();

            var target = '';
            var targetId = 0;

            if (gridName == 'branch') {
                target = $('input#BranchName');
                targetId = $('input#BranchId');
            }

            if (gridName == 'customer') {

                target = $('input#CustomerName');
                targetId = $('input#CustomerId');
            }

            if (gridName == 'product') {
                target = $('input#ProductName');
                targetId = $('input#ProductId');
            }

            var ref = $(this).attr('href');
            targetId.val(ref.substr(ref.lastIndexOf('/') + 1));

            target.val($('td:first', $(this).parents('tr')).text());

            if ($("#dialog").dialog("isOpen") == true)
                $("#dialog").dialog("close");
        });

        $(".select_record").button({
            icons: { primary: "ui-icon-newwin" },
            text: false
        });
        $(".new_record").button({
            icons: { primary: "ui-icon-plus" },
            text: false
        });
    });

    function selectProduct() {
        var url = '@Url.Action("GetProducts")';
        var $context = $('#dialog');
        var $content = $("<div/>").load(url, null, function () {

            $context.empty().append($content);

            var options = {
                url: url,
                alignRight: true,
                addRowOverState: true,
                addSelectedState: true
            };
            $("#mvccontribGridWrapper").mvccontribGrid(options);

            $('#dialog').dialog('open');
            $('#dialog').dialog('option', 'position', 'center');
            $('#dialog').dialog('option', 'titl', 'Select branch');

        });
    }
</script>
