﻿@model Ideaware.Hps.Entities.Setup.Manufacturer
@{
    ViewBag.Title = "Delete";
}
<h2>
    Delete
</h2>
<h3>
    Are you sure you want to delete this?</h3>
<table>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.ManufacturerName, "Manufacturer Name")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.ManufacturerName)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.ContactPerson, "Contact Person")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.ContactPerson)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.OfficeAddress, "Office Address")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.OfficeAddress)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.ContactNumber, "Contact Number")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.ContactNumber)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.FaxNumber, "Fax Number")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.FaxNumber)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.EmailAddress, "Email Address")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.EmailAddress)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.IsBlock, "Blocked")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.IsBlock)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.BlockDetail, "Blocked Detail")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.BlockDetail)
        </td>
    </tr>
    <tr>
        <td class="header">
            @Html.LabelFor(model => model.IsActive, "Is Active")
        </td>
        <td class="content">
            @Html.DisplayFor(model => model.IsActive)
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td class="content">
            @using (Html.BeginForm())
            {
                <input type="submit" value="Delete" />
            }
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
